<!--
  Generated template for the TablesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>tables</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->

<!-- <div class="app-body group"> -->
    <div class="selector-container" id="table-view-container">
        <div class="selector-inner-container">
            <div class="table-view-header">
                <span>Choose Table</span>
            </div>
            <div class="table-view-body">
                <div class="table-area-box slide-parent expand">
                    <div class="table-area-header slide-trigger">
                        <h2>Area 1</h2>
                    </div>
                    <div class="table-area-body group slide-target">
                        <div class="table-box table-available" id="table-1">
                            <h3 class="table-number">1</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-available" id="table-2">
                            <h3 class="table-number">2</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-occupied" id="table-3">
                            <h3 class="table-number">3</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Amel</span>
                                <span class="table-info-time">14:03</span>
                            </div>
                        </div>
                        <div class="table-box table-occupied" id="table-4">
                            <h3 class="table-number">4</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Budi</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-5">
                            <h3 class="table-number">5</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=3>Citra</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-6">
                            <h3 class="table-number">6</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=7>Dimas</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-6">
                            <h3 class="table-number">7</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=7>Dimas</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-available" id="table-8">
                            <h3 class="table-number">8</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-available" id="table-9">
                            <h3 class="table-number">9</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-available" id="table-10">
                            <h3 class="table-number">10</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                    </div>
                </div>
                <div class="table-area-box slide-parent expand">
                    <div class="table-area-header slide-trigger">
                        <h2>Area 2</h2>
                    </div>
                    <div class="table-area-body group slide-target">
                        <div class="table-box table-linked" id="table-18">
                            <h3 class="table-number">1</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve","Unjoin","Show History"]' data-action-functions='["funcReserve","funcUnjoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-unjoin-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Emil</span>
                                <span data-link-id=13 class="table-info-link">Table 3</span>
                            </div>
                        </div>
                        <div class="table-box table-linked" id="table-18">
                            <h3 class="table-number">2</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve","Unjoin","Show History"]' data-action-functions='["funcReserve","funcUnjoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-unjoin-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Emil</span>
                                <span data-link-id=13 class="table-info-link">Table 3</span>
                            </div>
                        </div>
                        <div class="table-box table-occupied" id="table-13">
                            <h3 class="table-number">3</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Emil</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-occupied" id="table-14">
                            <h3 class="table-number">4</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Farhan</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-15">
                            <h3 class="table-number">5</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=3>Ginanjar</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-16">
                            <h3 class="table-number">6</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=4>Himawan</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-available" id="table-17">
                            <h3 class="table-number">7</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-linked" id="table-18">
                            <h3 class="table-number">8</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve","Unjoin","Show History"]' data-action-functions='["funcReserve","funcUnjoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-unjoin-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Iqbal</span>
                                <span data-link-id=19 class="table-info-link">Table 9</span>
                            </div>
                        </div>
                        <div class="table-box table-occupied" id="table-19">
                            <h3 class="table-number">9</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Iqbal</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-occupied" id="table-20">
                            <h3 class="table-number">10</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Jeffrey</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-21">
                            <h3 class="table-number">11</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=5>Karim</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-22">
                            <h3 class="table-number">12</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=3>Lina</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-area-box slide-parent expand">
                    <div class="table-area-header slide-trigger">
                        <h2>Area 3</h2>
                    </div>
                    <div class="table-area-body group slide-target">
                        <div class="table-box table-available" id="table-23">
                            <h3 class="table-number">1</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-available" id="table-24">
                            <h3 class="table-number">2</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Reserve", "Join","Show History"]' data-action-functions='["funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-reserve-table","action-join-table","action-show-history"]'></div>
                        </div>
                        <div class="table-box table-occupied" id="table-25">
                            <h3 class="table-number">3</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Marina</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-occupied" id="table-26">
                            <h3 class="table-number">4</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Move","Reserve", "Join","Show History"]' data-action-functions='["funcMove","funcReserve","funcJoin","funcHistory"]' data-spinner-id='["action-move-table","action-reserve-table","action-join-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name">Novi</span>
                                <span class="table-info-time">14:17</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-27">
                            <h3 class="table-number">5</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=8>Ojan</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                        <div class="table-box table-reserved" id="table-28">
                            <h3 class="table-number">6</h3>
                            <div class="table-box-spinner spinner-trigger" data-action-titles='["Continue Reservation","Cancel Reservation","New Reservation","Show History"]' data-action-functions='["funcReserve","funcCancelReserve","funcReserve","funcHistory"]' data-spinner-id='["action-reserved-customer","action-cancel-reserve","action-reserve-table","action-show-history"]'></div>
                            <div class="table-box-info group">
                                <span class="table-info-name" data-reserved-customer="Citra" data-reserved-pax=2>Petra</span>
                                <span class="table-info-time">15:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-catalog-container">
        <div class="product-catalog-header group">
            <a href="#" class="btn btn-back-dark fl"></a>
            <h1>Product Catalog</h1>
            <a href="#" class="btn btn-close-dark fr"></a>
            <div class="btn btn-drop-container fr">
                <span class="btn btn-drop-trigger btn-view-tiles"></span>
                <ul class="btn-drop-list">
                    <li><a href="#" class="btn btn-view-tiles btn-hidden" data-display="catalog-tiles"></a></li>
                    <li><a href="#" class="btn btn-view-list" data-display="catalog-list"></a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-search-dark fr" id="btn-search-product"></a>
        </div>
        <div class="product-search-box">
            <input type="text" placeholder="Search Product">
            <a href="#" class="btn btn-close-dark"></a>
        </div>
        <div class="product-catalog-body catalog-tiles">
            <div class="product-category slide-parent expand">
                <div class="product-category-header slide-trigger">
                    <h2 class="product-category-title">Appetizers</h2>
                </div>
                <div class="product-category-body slide-target group">
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Snacks</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">
                            <div class="product-item-box group sold-out" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Asinan-Betawi.jpg" alt="">
                                    <span class="product-item-info">Rp 14.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Asinan Betawi</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 15.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">3</span>
                                    <img src="img/products/Siomay.jpg" alt="">
                                    <span class="product-item-info">Rp 15.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Siomay</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 15.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Others</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">3</span>
                                    <img src="img/products/Batagor.jpg" alt="">
                                    <span class="product-item-info">Rp 15.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Batagor</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 15.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">3</span>
                                    <img src="img/products/Pisang-Goreng-Keju.jpg" alt="">
                                    <span class="product-item-info">Rp 10.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Pisang Goreng Keju</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 10.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-category slide-parent expand">
                <div class="product-category-header slide-trigger">
                    <h2 class="product-category-title">Main Course</h2>
                </div>
                <div class="product-category-body slide-target group">
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Ayam & Bebek</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">                                        
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Ayam-Goreng.jpg" alt="">
                                    <span class="product-item-info">Rp 24.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Ayam Goreng</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 24.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group sold-out" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Bebek-Bakar.jpg" alt="">
                                    <span class="product-item-info">Rp 28.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Bebek Bakar</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 28.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Bebek-Goreng.jpg" alt="">
                                    <span class="product-item-info">Rp 26.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Bebek Goreng</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 26.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Ikan</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Ikan-Gurame-Bakar.jpg" alt="">
                                    <span class="product-item-info">Rp 33.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Ikan Gurame Bakar</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 33.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Noodles</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">3</span>
                                    <img src="img/products/Kwetiau-Goreng.jpg" alt="">
                                    <span class="product-item-info">Rp 21.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Kwetiau Goreng</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 21.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">3</span>
                                    <img src="img/products/Mie-Ayam.jpg" alt="">
                                    <span class="product-item-info">Rp 20.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Mie Ayam</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 20.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Mie-Bakso.jpg" alt="">
                                    <span class="product-item-info">Rp 19.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Mie Bakso</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 19.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Nasi Goreng</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">1</span>
                                    <img src="img/products/Nasi-Goreng-Ayam.jpg" alt="">
                                    <span class="product-item-info">Rp 24.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Nasi Goreng Ayam</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 24.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Nasi-Goreng-Seafood.jpg" alt="">
                                    <span class="product-item-info">Rp 26.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Nasi Goreng Seafood</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 26.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-subcategory slide-parent expand">
                        <div class="product-subcategory-header slide-trigger group">
                            <h2 class="product-subcategory-title">Sate</h2>
                            <span></span>
                        </div>
                        <div class="product-subcategory-body slide-target group">
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">1</span>
                                    <img src="img/products/Sate-Ayam.jpg" alt="">
                                    <span class="product-item-info">Rp 28.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Sate Ayam</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 28.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <span class="product-added-quantity">2</span>
                                    <img src="img/products/Sate-Kambing.jpg" alt="">
                                    <span class="product-item-info">Rp 26.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Sate Kambing</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 26.000</p>
                                </div>
                            </div>
                            <div class="product-item-box group" data-selected=0>
                                <div class="product-item-image">
                                    <img src="img/products/Sate-Padang.jpg" alt="">
                                    <span class="product-item-info">Rp 28.000</span>
                                </div>
                                <div class="product-item-title">
                                    <span>Sate Padang</span>
                                </div>
                                <div class="product-item-info-list">
                                    <p>Rp 28.000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-category slide-parent expand">
                <div class="product-category-header slide-trigger">
                    <h2 class="product-category-title">Beverages</h2>
                </div>
                <div class="product-category-body slide-target group">
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Es-Teh-Manis.jpg" alt="">
                            <span class="product-item-info">Rp 7.500</span>
                        </div>
                        <div class="product-item-title">
                            <span>Es Teh Manis</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 7.500</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Es-Jeruk.jpg" alt="">
                            <span class="product-item-info">Rp 12.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Es Jeruk</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 12.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Jus-Alpukat.jpg" alt="">
                            <span class="product-item-info">Rp 16.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Jus Alpukat</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 16.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Jus-Belimbing.jpg" alt="">
                            <span class="product-item-info">Rp 16.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Jus Belimbing</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 16.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Jus-Mangga.jpg" alt="">
                            <span class="product-item-info">Rp 16.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Jus Mangga</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 16.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Jus-Tomat.jpg" alt="">
                            <span class="product-item-info">Rp 16.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Jus Tomat</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 16.000</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-category slide-parent expand">
                <div class="product-category-header slide-trigger">
                    <h2 class="product-category-title">Dessert</h2>
                </div>
                <div class="product-category-body slide-target group">
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Banana-Split.jpg" alt="">
                            <span class="product-item-info">Rp 20.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Banana Split</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 20.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Es-Campur.jpg" alt="">
                            <span class="product-item-info">Rp 19.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Es Campur</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 16.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Es-Teler.jpg" alt="">
                            <span class="product-item-info">Rp 21.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Es Teler</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 21.000</p>
                        </div>
                    </div>
                    <div class="product-item-box group" data-selected=0>
                        <div class="product-item-image">
                            <img src="img/products/Ice-Cream-Sundae.jpg" alt="">
                            <span class="product-item-info">Rp 18.000</span>
                        </div>
                        <div class="product-item-title">
                            <span>Ice Cream Sundae</span>
                        </div>
                        <div class="product-item-info-list">
                            <p>Rp 18.000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-catalog-smoke"></div>
    </div>
    <div class="selection-container has-subheader" id="table-detail-container">
        <div class="selection-inner-container">
            <div class="selection-header group" id="table-detail-header">
                <a href="#" class="btn btn-close-light" id="close-selection-container"></a>
                <h3 class="fl">Table <span>1</span></h3>
                <a href="#" class="btn btn-spinner-light spinner-trigger fr" data-action-titles='["Move","Join","Void","Split Bill"]' data-action-functions='["funcMove","funcJoin","funcVoid","funcSplitBill"]' data-spinner-id='["action-move-table","action-join-table","action-void-table","action-split-bill"]'></a>
            </div>
            <div class="selection-subheader group" id="table-detail-info">
                <h4 class="fl">CustomerName</h4>
                <!-- <span class="fr">10:35</span> -->
                <a href="#" class="btn-reveal-info" id="action-show-table-detail">Detail</a>
                <div class="popup-wrapper table-detail-popup-container">
                    <div class="popup-header">
                        <span class="popup-title">
                            Table Details
                        </span>
                        <a href="#" class="popup-close"></a>
                    </div>
                    <div class="popup-body">
                        <div class="table-detail-item-container">
                            <div class="table-detail-item-label">Time Arrived</div>
                            <div class="table-detail-item">11:16</div>
                        </div>
                        <div class="table-detail-item-container">
                            <div class="table-detail-item-label">PAX</div>
                            <div class="table-detail-item">3 persons</div>
                        </div>
                        <div class="table-detail-item-container">
                            <div class="table-detail-item-label">Membership</div>
                            <div class="table-detail-item">None</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="selection-sections-container" data-available-sections="0" data-active-section="1">
                <div class="selection-sections-inner-container">
                    <div class="selection-section has-action" id="detail-orders">
                        <div class="selection-section-body">
                            <div class="selection-elements-container elements-single">
                                <div class="table-detail-element table-orders">
                                    <div class="table-detail-element-header element-light">
                                        <span>Orders</span>
                                        <a href="#" id="add-product" class="btn btn-add"></a>
                                    </div>
                                    <div class="table-detail-element-body">
                                        <div class="table-order-item">
                                            <div class="order-status group">
                                                <span class="order-status-sign status-pending"></span>
                                                <span class="order-status-time">24:00</span>
                                                <div class="order-item-actions spinner-trigger" data-action-titles='["Void Item","Dine-In"]' data-action-functions='["funcVoidItem","funcConvertDinein"]'  data-spinner-id='["action-void-item","action-convert-dinein"]'></div>
                                                <span class="order-status-type">Take-Away</span>
                                            </div>
                                            <div class="order-title">ItemName</div>
                                            <div class="order-counter group">
                                                <div class="fl"><span>99</span> pcs</div>
                                                <div class="order-price fr" data-charge="999999">Rp 999.999</div>
                                            </div>
                                            <div class="order-notes">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </div>
                                        </div>
                                        <div class="table-order-item">
                                            <div class="order-status group">
                                                <span class="order-status-sign status-pending"></span>
                                                <span class="order-status-time">24:00</span>
                                                <div class="order-item-actions spinner-trigger" data-action-titles='["Void Item","Take-Away"]' data-action-functions='["funcVoidItem","funcConvertTakeaway"]'  data-spinner-id='["action-void-item","action-convert-takeaway"]'></div>
                                                <span class="order-status-type">Dine-In</span>
                                            </div>
                                            <div class="order-title">ItemName</div>
                                            <div class="order-counter group">
                                                <div class="fl"><span>99</span> pcs</div>
                                                <div class="order-price fr" data-charge="999999">Rp 999.999</div>
                                            </div>
                                            <div class="order-notes">
                                                <ul>
                                                    <li>Exercitationem praesentium aspernatur.</li>
                                                    <li>Minima sit voluptass.</li>
                                                    <li>Repellat perferendis ipsa.</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="table-order-item">
                                            <div class="order-status group">
                                                <span class="order-status-sign status-pending"></span>
                                                <span class="order-status-time">24:00</span>
                                                <div class="order-item-actions spinner-trigger" data-action-titles='["Void Item","Dine-In"]' data-action-functions='["funcVoidItem","funcConvertDinein"]'  data-spinner-id='["action-void-item","action-convert-dinein"]'></div>
                                                <span class="order-status-type">Take-Away</span>
                                            </div>
                                            <div class="order-title">ItemName</div>
                                            <div class="order-counter group">
                                                <div class="fl"><span>99</span> pcs</div>
                                                <div class="order-price fr" data-charge="999999">Rp 999.999</div>
                                            </div>
                                        </div>
                                        <div class="table-order-item">
                                            <div class="order-status group">
                                                <span class="order-status-sign status-done"></span>
                                                <span class="order-status-time">24:00</span>
                                                <div class="order-item-actions spinner-trigger" data-action-titles='["Void Item","Take-Away"]' data-action-functions='["funcVoidItem","funcConvertTakeaway"]'  data-spinner-id='["action-void-item","action-convert-takeaway"]'></div>
                                                <span class="order-status-type">Dine-In</span>
                                            </div>
                                            <div class="order-title">ItemName</div>
                                            <div class="order-counter group">
                                                <div class="fl"><span>99</span> pcs</div>
                                                <div class="order-price fr" data-charge="999999">Rp 999.999</div>
                                            </div>
                                        </div>
                                        <div class="table-order-item">
                                            <div class="order-status group">
                                                <span class="order-status-sign status-done"></span>
                                                <span class="order-status-time">24:00</span>
                                                <div class="order-item-actions spinner-trigger" data-action-titles='["Void Item","Dine-In"]' data-action-functions='["funcVoidItem","funcConvertDinein"]'  data-spinner-id='["action-void-item","action-convert-dinein"]'></div>
                                                <span class="order-status-type">Take-Away</span>
                                            </div>
                                            <div class="order-title">ItemName</div>
                                            <div class="order-counter group">
                                                <div class="fl"><span>99</span> pcs</div>
                                                <div class="order-price fr" data-charge="999999">Rp 999.999</div>
                                            </div>
                                        </div>
                                        <div class="table-order-item">
                                            <div class="order-status group">
                                                <span class="order-status-sign status-done"></span>
                                                <span class="order-status-time">24:00</span>
                                                <div class="order-item-actions spinner-trigger" data-action-titles='["Void Item","Take-Away"]' data-action-functions='["funcVoidItem","funcConvertTakeaway"]'  data-spinner-id='["action-void-item","action-convert-takeaway"]'></div>
                                                <span class="order-status-type">Dine-In</span>
                                            </div>
                                            <div class="order-title">ItemName</div>
                                            <div class="order-counter group">
                                                <div class="fl"><span>99</span> pcs</div>
                                                <div class="order-price fr" data-charge="999999">Rp 999.999</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="selection-section-action-container">
                            <a href="#" class="btn btn-large btn-green navigate-positive" id="btn-to-payment">Go to Payment</a>
                            <a href="#" class="btn btn-large btn-blue" id="action-confirm-orders">Confirm Orders</a>
                        </div>
                    </div>
                    <div class="selection-section has-action" id="detail-payments">
                        <div class="selection-section-body">
                            <div class="selection-elements-container elements-dual">
                                <div class="table-detail-element table-charges">
                                    <div class="table-detail-element-header element-red">
                                        <span>Charges & Discounts</span>
                                        <a href="#" class="btn btn-add" id="action-add-charge-item"></a>
                                    </div>
                                    <div class="table-detail-element-body has-footer">
                                        <div class="table-detail-element-subtotal group">
                                            <span class="fl">Sub-Total</span>
                                            <span class="fr" data-amount=9999999>Rp 9.999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">ChargeType</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">ChargeType</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">ChargeType</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">ChargeType</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group fixed">
                                            <span class="item-name">ChargeType</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                    </div>
                                    <div class="table-detail-element-footer group">
                                        <span class="fl">Total Charge</span>
                                        <span class="fr" id="total-charged" data-amount=9999999>Rp 9.999.999</span>
                                    </div>
                                    <div class="table-charges-options">
                                        <div class="popup-header">
                                            <span class="popup-title">
                                                Add Charges & Discount
                                            </span>
                                            <a href="#" class="popup-close"></a>
                                        </div>
                                        <div class="popup-body">
                                            <ul>
                                                <li><a href="#" class="btn-red" id="add-service-charge">Service Charge</a></li>
                                                <li><a href="#" class="btn-red" id="add-tax">Tax</a></li>
                                                <li><a href="#" class="btn-blue" id="add-discount">Discount</a></li>
                                                <li><a href="#" class="btn-blue" id="add-coupon">Coupon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-detail-element table-payments">
                                    <div class="table-detail-element-header element-green">
                                        <span>Payments</span>
                                        <a href="#" class="btn btn-add" id="action-add-payment-item"></a>
                                    </div>
                                    <div class="table-detail-element-body has-footer">
                                        <div class="table-payment-item group">
                                            <span class="item-name">PaymentMethod</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">PaymentMethod</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">PaymentMethod</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">PaymentMethod</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                        <div class="table-payment-item group">
                                            <span class="item-name">PaymentMethod</span>
                                            <span class="item-amount" data-amount=999999>Rp 999.999</span>
                                        </div>
                                    </div>
                                    <div class="table-detail-element-footer group">
                                        <span class="fl">Total Payment</span>
                                        <span class="fr" id="total-paid" data-amount=9999999>Rp 9.999.999</span>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="selection-section-action-container action-dual">
                            <a href="#" class="btn btn-large btn-grey navigate-negative">Back</a>
                            <a href="#" class="btn btn-large btn-green btn-disabled" id="action-confirm-payment">Confirm Payment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="selection-smoke"></div>
    </div>
<!-- </div> -->