        <div class="smoke"></div>
        <div class="notifications group">
            <div class="notif-container">
                <div class="notif-header group">
                    <a href="#" class="btn btn-notif fl"></a>
                    <h3 class="fl">Notifications</h3>
                </div>
                <div class="notif-body">
                    <div class="notif-item item-new">
                        <p>Put "Reserved" sign on <span>Table 5</span></p>
                        <span class="notif-item-time">13 minutes ago</span>
                    </div>
                    <div class="notif-item item-new">
                        <p>Put "Reserved" sign on <span>Table 8</span></p>
                        <span class="notif-item-time">13 minutes ago</span>
                    </div>
                    <div class="notif-item">
                        <p>Put "Reserved" sign on <span>Table 3</span></p>
                        <span class="notif-item-time">18 minutes ago</span>
                    </div>
                    <div class="notif-item">
                        <p>Put "Reserved" sign on <span>Table 5</span></p>
                        <span class="notif-item-time">28 minutes ago</span>
                    </div>
                    <div class="notif-item">
                        <p>Put "Reserved" sign on <span>Table 25</span></p>
                        <span class="notif-item-time">41 minutes ago</span>
                    </div>
                    <div class="notif-item">
                        <p>Put "Reserved" sign on <span>Table 11</span></p>
                        <span class="notif-item-time">53 minutes ago</span>
                    </div>
                    <div class="notif-item">
                        <p>Put "Reserved" sign on <span>Table 28</span></p>
                        <span class="notif-item-time">1 hour ago</span>
                    </div>
                    <div class="notif-item">
                        <p>Put "Reserved" sign on <span>Table 16</span></p>
                        <span class="notif-item-time">1 hour ago</span>
                    </div>
                </div>
            </div>
            <div class="notif-smoke"></div>
        </div>
        <div class="main-menu group">
            <div class="main-menu-container">
                 <div class="main-menu-header-container">
                    <img class="main-menu-picture" src="img/products/Ayam-Bakar.jpg" alt="">
                    <h1 class="main-menu-title">Sleeping Forest</h1>
                 </div>
                 <div class="main-menu-body-container">

                     <ul>
                         <li *ngFor="let p of pages" class="main-menu-item" (click)="openPage(p)">
                         	<a href="#">{{p.title}}</a>
                         </li>
                         <!-- <li class="main-menu-item active"><a href="#">Sales</a></li>
                         <li class="main-menu-item"><a href="#">Reports</a></li>
                         <li class="main-menu-item"><a href="#">History</a></li>
                         <li class="main-menu-item"><a href="#">Products</a></li>
                         <li class="main-menu-item"><a href="#">Membership</a></li>
                         <li class="main-menu-item"><a href="#">Settings</a></li> -->
                     </ul>
                     <div class="main-menu-action-container">
                         <a href="login.html" class="btn btn-large btn-red btn-log-out">Log Out</a>
                     </div>
                 </div>
            </div>
            <div class="menu-smoke"></div>            
        </div>




        <div class="spinner-container">
            <div class="spinner-content-container">
                <ul class="spinner-content">
                </ul>
            </div>
            <div class="spinner-smoke"></div>
        </div>
        <div class="popup" id="pin-input">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Input PIN
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <p class="popup-notes">This action requires supervisor's permission</p>
                    <form action="#">
                        <div class="input-element">
                            <label for="required-pin">Supervisor PIN :</label>
                            <input class="input input-full" id="pin-inputfield" name="required-pin" type="password" autocomplete="off" placeholder="PIN">
                            <span class="form-alert hidden">Unindentified PIN, please try again</span>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-dual">
                    <a href="#" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" class="btn btn-large btn-green" id="btn-grant-permission">Continue</a>
                </div>
            </div>
        </div>
        <div class="popup" id="shift-input">
            <div class="popup-wrapper popup-with-action">
                <div class="popup-header">
                    <span class="popup-title">
                        Shift Form
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <!-- <p class="popup-notes">This action requires supervisor's permission</p> -->
                    <form action="#">
                        <div class="input-element custom-options">
                            <label for="select-shift">Select Shift :</label>
                            <select class="input-full" name="select-shift" id="select-shift">
                                <option value="0">Pagi</option>
                                <option value="1">Siang</option>
                                <option value="2">Sore</option>
                                <option value="2">Malam</option>
                            </select>
                        </div>
                        <!-- <div class="input-element">
                            <label for="shift-starting-cash">Starting Cash :</label>
                            <input class="input input-full input-money" id="shift-starting-cash" name="shift-starting-cash" type="number" autocomplete="off" placeholder="0">
                        </div> -->
                        <div class="input-element input-amount-container group">
                            <div class="input input-amount-display">
                                <label for="shift-starting-cash">Starting Cash</label>
                                <input onClick="this.select();" type="text" value="0" id="shift-starting-cash" class="input-amount" data-input-type="amount">
                            </div>
                        </div>
                        <div class="input-element calculator-buttons-container">
                            <!-- <div class="input-element-inner-container group" style="height:100%; width:100%;"> -->
                            <div class="input-element-inner-container group">
                                <div class="calculator-left group">
                                    <div class="btn btn-calc btn-calc-append" data-amount="7">7</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="8">8</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="9">9</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="4">4</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="5">5</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="6">6</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="1">1</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="2">2</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="3">3</div>
                                    <div class="btn btn-calc btn-calc-clear" data-amount="C">C</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="0">0</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="00">00</div>
                                </div>
                                <div class="calculator-right group">
                                    <div class="btn btn-calc btn-calc-add" data-amount="10000">10.000</div>
                                    <div class="btn btn-calc btn-calc-add" data-amount="20000">20.000</div>
                                    <div class="btn btn-calc btn-calc-add" data-amount="50000">50.000</div>
                                    <div class="btn btn-calc btn-calc-add" data-amount="100000">100.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="input-element">
                            <label for="shift-notes">Notes :</label>
                            <textarea class="input input-full" id="shift-notes" name="shift-notes" type="password" autocomplete="off" placeholder="Notes"></textarea>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container">
                    <a href="#" class="btn btn-large btn-green" id="action-start-shift">Start Shift</a>
                </div>
            </div>
        </div>
        <div class="popup" id="reserve-input">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Reserve Table 1
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <div class="input-element input-customer-field">
                            <label for="reserver-name">Customer Name :</label>
                            <div class="input-with-action-group group">
                                <input class="input" name="reserver-name" id="input-reserver-name" type="text" placeholder="name">
                                <a href="#" class="btn btn-search-dark btn-grey btn-rounded"></a>
                                <a href="#" class="btn btn-user-add-dark btn-grey btn-rounded"></a>
                                <a href="#" class="btn btn-close-dark btn-grey btn-rounded"></a>
                            </div>                            
                        </div>

                        <div class="input-element">
                            <label for="reserve-pax">PAX :</label>
                            <input class="input input-full" id="reserve-pax" type="number" placeholder="pax">
                        </div>
                        <div class="input-element">
                            <label for="reserve-time">Reservation Time :</label>
                            <input class="input input-full" id="reserve-date" type="date" placeholder="Today">
                            <!-- <input class="input input-full" id="reserve-time" type="time" placeholder="00:00"> -->
                            <div class="input-element custom-options">
                                <select class="input-full" name="reservation-time" id="reservation-time">
                                    <option value="11">11AM</option>
                                    <option value="12">12PM</option>
                                    <option value="13">01PM</option>
                                    <option value="14">02PM</option>
                                    <option value="15">03PM</option>
                                    <option value="16">04PM</option>
                                    <option value="17">05PM</option>
                                    <option value="18" disabled>06PM</option>
                                    <option value="19" disabled>07PM</option>
                                    <option value="20">08PM</option>
                                    <option value="21" disabled>09PM</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-dual">
                    <a href="#" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" class="btn btn-large btn-green action-confirm-reserve">Reserve</a>
                </div>
            </div>
            <div class="popup-wrapper popup-full widget-container popup-with-action popup-wrapper-save" style="display: none">
                <div class="popup-header">
                    <span class="popup-title">
                        Save New Member
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <div class="input-element">
                            <label for="new-member-name">Customer Name :</label>
                            <input class="input input-full" id="new-member-name" type="text">
                        </div>
                        <div class="input-element">
                            <label for="new-member-phone">Phone Number :</label>
                            <input class="input input-full" id="new-member-phone" type="number">
                        </div>
                        <div class="input-element">
                            <label for="new-member-email">Email :</label>
                            <input class="input input-full" id="new-member-email" type="email">
                        </div>
                        <div class="input-element">
                            <label for="new-member-address">Address :</label>
                            <textarea class="input input-full" id="new-member-address"></textarea>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-single">
                    <a href="#" class="btn btn-large btn-green">Save</a>
                </div>
            </div>
            <div class="popup-wrapper popup-full widget-container popup-with-subheader popup-wrapper-search" style="display: none">
                <div class="popup-header">
                    <span class="popup-title">
                        Search Member
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <input type="text" class="members-widget-searchbox" placeholder="Type a Name or Email">
                    </form>
                    <ul class="members-widget-list">
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Bill Lamarca</h3>
                                <p>0856-1426-7092</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Mari Moton</h3>
                                <p>0856-1120-9648</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Nicolasa Mcintyre</h3>
                                <p>0856-1951-9470</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Amina Mowrey</h3>
                                <p>0856-1997-0307</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Delinda Dubin</h3>
                                <p>0856-1150-9245</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Wendolyn Taff</h3>
                                <p>0856-1337-2535</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Parthenia Kivett</h3>
                                <p>0856-1614-5827</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Marna Nicols</h3>
                                <p>0856-1250-2348</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Ronny Wojtczak</h3>
                                <p>0856-1940-8288</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Elizebeth Moulden</h3>
                                <p>0856-1160-0784</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup" id="move-input">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Move Table 1
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <!-- <p class="popup-notes">This action requires supervisor's permission</p> -->
                    <form action="#">
                        <div class="input-element custom-options">
                            <label for="select-area">Move to :</label>
                            <select class="input-full" name="select-area" id="select-area">
                                <option value="0">Area 1</option>
                                <option value="1">Area 2</option>
                                <option value="2">Area 3</option>
                                <option value="3">Area 4</option>
                            </select>
                            <select class="input-full" name="select-table" id="select-table">
                                <option value="0">Table 1</option>
                                <option value="1">Table 2</option>
                                <option value="2">Table 3</option>
                                <option value="3">Table 4</option>
                                <option value="4">Table 5</option>
                                <option value="5">Table 6</option>
                                <option value="6">Table 7</option>
                                <option value="7">Table 8</option>
                                <option value="8">Table 9</option>
                                <option value="9">Table 10</option>
                                <option value="0">Table 11</option>
                                <option value="1">Table 12</option>
                                <option value="2">Table 13</option>
                                <option value="3">Table 14</option>
                                <option value="4">Table 15</option>
                                <option value="5">Table 16</option>
                                <option value="6">Table 17</option>
                                <option value="7">Table 18</option>
                                <option value="8">Table 19</option>
                                <option value="9">Table 20</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container">
                    <a href="#" class="btn btn-large btn-green" id="action-start-shift">Move</a>
                </div>
            </div>
        </div>
        <div class="popup" id="join-input">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Join Table 1
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <!-- <p class="popup-notes">This action requires supervisor's permission</p> -->
                    <form action="#">
                        <div class="input-element custom-options">
                            <label for="select-area">Select Table to Join with</label>
                            <select class="input-full" name="select-area" id="select-area">
                                <option value="0">Area 1</option>
                                <option value="1">Area 2</option>
                                <option value="2">Area 3</option>
                                <option value="3">Area 4</option>
                            </select>
                            <select class="input-full" name="select-table" id="select-table">
                                <option value="0">Table 1</option>
                                <option value="1">Table 2</option>
                                <option value="2">Table 3</option>
                                <option value="3">Table 4</option>
                                <option value="4">Table 5</option>
                                <option value="5">Table 6</option>
                                <option value="6">Table 7</option>
                                <option value="7">Table 8</option>
                                <option value="8">Table 9</option>
                                <option value="9">Table 10</option>
                                <option value="0">Table 11</option>
                                <option value="1">Table 12</option>
                                <option value="2">Table 13</option>
                                <option value="3">Table 14</option>
                                <option value="4">Table 15</option>
                                <option value="5">Table 16</option>
                                <option value="6">Table 17</option>
                                <option value="7">Table 18</option>
                                <option value="8">Table 19</option>
                                <option value="9">Table 20</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container">
                    <a href="#" class="btn btn-large btn-green" id="action-start-shift">Join</a>
                </div>
            </div>
        </div>
        <div class="popup" id="payment-input">
            <div class="popup-wrapper popup-with-action">
                <div class="popup-header">
                    <span class="popup-title">
                        Add Payment
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <div class="input-element custom-options">
                            <label for="payment-method">Payment Method</label>
                            <select class="input-full" name="payment-method" id="input-payment-method">
                                <option value="Cash">cash</option>
                                <option value="Debit Card">debit card</option>
                                <option value="Credit Card">credit card</option>
                            </select>
                        </div>
                        <div class="input-element-group has-2-inputs group" style="display: none;">
                            <div class="input-element custom-options">
                                <label for="payment-method">Card Issuer</label>
                                <select class="input-full" name="payment-method" id="input-payment-method">
                                    <option disabled selected value> -- select --</option>
                                    <option value="Visa">Visa</option>
                                    <option value="Master Card">Master Card</option>
                                </select>
                            </div>
                            <div class="input-element custom-options">
                                <label for="payment-method">EDC Machine</label>
                                <select class="input-full" name="payment-method" id="input-payment-method">
                                    <option disabled selected value> -- select --</option>
                                    <option value="BCA">BCA</option>
                                    <option value="Mandiri">Mandiri</option>
                                    <option value="BRI">BRI</option>
                                    <option value="BNI">BNI</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-element">
                            <label for="payment-method">Payment Note 1</label>
                            <input class="input input-full" id="payment-input-notes" type="text" placeholder="Notes">
                        </div>
                        <div class="input-element input-amount-container group">
                            <div class="input input-amount-display">
                                <label for="add-payment-amount">Amount Tendered</label>
                                <input onClick="this.select();" type="text" value="0" id="add-payment-amount" class="input-amount" data-input-type="amount">
                            </div>
                        </div>
                        <div class="input-element calculator-buttons-container group">
                            <div class="calculator-suggestion-container">
                                <div class="calculator-suggestion-inner-container">
                                </div>
                            </div>
                            <div class="input-element-inner-container">
                                <div class="calculator-left group">
                                    <div class="btn btn-calc btn-calc-append" data-amount="7">7</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="8">8</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="9">9</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="4">4</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="5">5</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="6">6</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="1">1</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="2">2</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="3">3</div>
                                    <div class="btn btn-calc btn-calc-clear" data-amount="C">C</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="0">0</div>
                                    <div class="btn btn-calc btn-calc-append" data-amount="00">00</div>
                                </div>
                                <div class="calculator-right group">
                                    <div class="btn btn-calc btn-calc-add" data-amount="10000">10.000</div>
                                    <div class="btn btn-calc btn-calc-add" data-amount="20000">20.000</div>
                                    <div class="btn btn-calc btn-calc-add" data-amount="50000">50.000</div>
                                    <div class="btn btn-calc btn-calc-add" data-amount="100000">100.000</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container">
                    <a href="#" class="btn btn-large btn-green btn-disabled" id="action-add-payment">Add</a>
                </div>
            </div>
        </div>
        <div class="popup" id="discount-input">
            <div class="popup-wrapper popup-with-action">
                <div class="popup-header">
                    <span class="popup-title">
                        Add Discount
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">

                        <div class="input-element custom-options">
                            <select class="input-full" name="discount-options" id="discount-options">
                                <option value="percent">Percent Discount (%)</option>
                                <option value="amount">Amount Discount (Rp)</option>
                            </select>
                        </div>
                        <div class="input-element input-amount-container group">
                            <div class="input input-amount-display">
                                <label for="add-discount-amount">Discount Amount</label>
                                <input onClick="this.select();" type="text" value="0" id="add-discount-amount" class="input-amount" data-input-type="percent">
                            </div>
                        </div>
                        <div class="input-element calculator-buttons-container group">
                            <div class="calculator-left group">
                                <div class="btn btn-calc btn-calc-append" data-amount="7">7</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="8">8</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="9">9</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="4">4</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="5">5</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="6">6</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="1">1</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="2">2</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="3">3</div>
                                <div class="btn btn-calc btn-calc-clear" data-amount="C">C</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="0">0</div>
                                <div class="btn btn-calc btn-calc-append" data-amount="00">00</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container">
                    <a href="#" class="btn btn-large btn-green" id="action-add-discount">Add</a>
                </div>
            </div>
        </div>
        <div class="popup" id="coupon-input">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Add Coupon
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">

                        <div class="input-element custom-options">
                            <label for="coupon-type">Coupon Type :</label>
                            <select class="input-full" name="coupon-type" id="coupon-type">
                                <option value="0">New Year Promo</option>
                                <option value="1">Anniversary</option>
                            </select>
                        </div>
                        <div class="input-element custom-options">
                            <label for="coupon-code">Coupon Code :</label>
                            <input type="text" class="input-full input-code" name="coupon-code" placeholder="example: COUP-00123">
                            <a href="#" class="btn btn-large btn-grey btn-rounded action-barcode">Scan Barcode</a>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container">
                    <a href="#" class="btn btn-large btn-green" id="action-add-discount">Check Coupon</a>
                </div>
            </div>
        </div>
        <div class="popup" id="popup-new-customer">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Add New Customer on Table 1
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <div class="input-element input-customer-field">
                            <label for="new-customer-name">Customer Name :</label>
                            <div class="input-with-action-group group">
                                <input class="input" name="new-customer-name" id="input-new-customer-name" type="text" placeholder="name">
                                <a href="#" class="btn btn-search-dark btn-grey btn-rounded"></a>
                                <a href="#" class="btn btn-user-add-dark btn-grey btn-rounded"></a>
                                <a href="#" class="btn btn-close-dark btn-grey btn-rounded"></a>
                            </div>                            
                        </div>
                        <div class="input-element">
                            <label for="new-customer-pax">PAX :</label>
                            <input class="input input-full" id="new-customer-pax" type="number" placeholder="pax">
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-dual">
                    <a href="#" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" class="btn btn-large btn-green action-confirm-new-table">Confirm</a>
                </div>
            </div>
            <div class="popup-wrapper popup-full widget-container popup-with-action popup-wrapper-save" style="display: none">
                <div class="popup-header">
                    <span class="popup-title">
                        Save New Member
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <div class="input-element">
                            <label for="new-member-name">Customer Name :</label>
                            <input class="input input-full" id="new-member-name" type="text">
                        </div>
                        <div class="input-element">
                            <label for="new-member-phone">Phone Number :</label>
                            <input class="input input-full" id="new-member-phone" type="number">
                        </div>
                        <div class="input-element">
                            <label for="new-member-email">Email :</label>
                            <input class="input input-full" id="new-member-email" type="number">
                        </div>
                        <div class="input-element">
                            <label for="new-member-address">Address :</label>
                            <textarea class="input input-full" id="new-member-address"></textarea>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-single">
                    <a href="#" class="btn btn-large btn-green">Save</a>
                </div>
            </div>
            <div class="popup-wrapper popup-full widget-container popup-with-subheader popup-wrapper-search" style="display: none">
                <div class="popup-header">
                    <span class="popup-title">
                        Search Member
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <input type="text" class="members-widget-searchbox" placeholder="Type a Name or Email">
                    </form>
                    <ul class="members-widget-list">
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Bill Lamarca</h3>
                                <p>0856-1426-7092</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Mari Moton</h3>
                                <p>0856-1120-9648</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Nicolasa Mcintyre</h3>
                                <p>0856-1951-9470</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Amina Mowrey</h3>
                                <p>0856-1997-0307</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Delinda Dubin</h3>
                                <p>0856-1150-9245</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Wendolyn Taff</h3>
                                <p>0856-1337-2535</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Parthenia Kivett</h3>
                                <p>0856-1614-5827</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Marna Nicols</h3>
                                <p>0856-1250-2348</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Ronny Wojtczak</h3>
                                <p>0856-1940-8288</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Elizebeth Moulden</h3>
                                <p>0856-1160-0784</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup" id="popup-reserved-customer">
            <div class="popup-wrapper">
                <div class="popup-header">
                    <span class="popup-title">
                        Add Reserved Customer on Table 1
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">

                        <!-- <div class="input-element">
                            <label for="reserved-customer-name">Customer Name :</label>
                            <input class="input input-full" id="reserved-customer-name" type="text" placeholder="name" value="Vira">                        
                        </div> -->
                        <div class="input-element input-customer-field">
                            <label for="reserved-customer-name">Customer Name :</label>
                            <div class="input-with-action-group input-has-value group">
                                <input class="input" name="reserved-customer-name" id="input-reserved-customer-name" type="text" placeholder="name" value="John Doe">
                                <a href="#" class="btn btn-search-dark btn-grey btn-rounded"></a>
                                <a href="#" class="btn btn-user-add-dark btn-grey btn-rounded"></a>
                                <a href="#" class="btn btn-close-dark btn-grey btn-rounded"></a>
                            </div>                            
                        </div>

                        <div class="input-element">
                            <label for="reserved-customer-pax">PAX :</label>
                            <input class="input input-full" id="reserved-customer-pax" type="number" placeholder="pax" value="4">
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-dual">
                    <a href="#" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" class="btn btn-large btn-green action-confirm-new-table">Confirm</a>
                </div>
            </div>
            <div class="popup-wrapper popup-full widget-container popup-with-action popup-wrapper-save" style="display: none">
                <div class="popup-header">
                    <span class="popup-title">
                        Save New Member
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <div class="input-element">
                            <label for="new-member-name">Customer Name :</label>
                            <input class="input input-full" id="new-member-name" type="text">
                        </div>
                        <div class="input-element">
                            <label for="new-member-phone">Phone Number :</label>
                            <input class="input input-full" id="new-member-phone" type="number">
                        </div>
                        <div class="input-element">
                            <label for="new-member-email">Email :</label>
                            <input class="input input-full" id="new-member-email" type="number">
                        </div>
                        <div class="input-element">
                            <label for="new-member-address">Address :</label>
                            <textarea class="input input-full" id="new-member-address"></textarea>
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-single">
                    <a href="#" class="btn btn-large btn-green">Save</a>
                </div>
            </div>
            <div class="popup-wrapper popup-full widget-container popup-with-subheader popup-wrapper-search" style="display: none">
                <div class="popup-header">
                    <span class="popup-title">
                        Search Member
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">
                    <form action="" autocomplete="off">
                        <input type="text" class="members-widget-searchbox" placeholder="Type a Name or Email">
                    </form>
                    <ul class="members-widget-list">
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Bill Lamarca</h3>
                                <p>0856-1426-7092</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Mari Moton</h3>
                                <p>0856-1120-9648</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Nicolasa Mcintyre</h3>
                                <p>0856-1951-9470</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Amina Mowrey</h3>
                                <p>0856-1997-0307</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Delinda Dubin</h3>
                                <p>0856-1150-9245</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Wendolyn Taff</h3>
                                <p>0856-1337-2535</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Parthenia Kivett</h3>
                                <p>0856-1614-5827</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Marna Nicols</h3>
                                <p>0856-1250-2348</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-1.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Ronny Wojtczak</h3>
                                <p>0856-1940-8288</p>
                            </div>
                        </li>
                        <li class="group">
                            <div class="widget-member-photo">
                                <img src="img/members/member-2.jpg" alt="">
                            </div>
                            <div class="widget-member-info">
                                <h3>Elizebeth Moulden</h3>
                                <p>0856-1160-0784</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="popup" id="popup-add-order">
            <div class="popup-wrapper popup-with-action popup-add-edit-order">
                <div class="popup-header">
                    <span class="popup-title">
                        Add Order
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">

                    <div class="product-item-image">
                        <img src="img/products/Ayam-Bakar.jpg" alt="">
                    </div>
                    <div class="add-edit-product-item-title">
                        <span>Ayam Bakar</span>
                    </div>
                    <form action="">
                        <div class="input-element input-quantity-container group">
                            <div class="input input-quantity-display">
                                <label for="add-order-quantity">Quantity</label>
                                <input onClick="this.select();" type="number" value="1" id="add-order-quantity" class="input-item-quantity">
                                <span>pcs</span>
                            </div>
                            <div class="input-counter-container">
                                <a href="#" class="btn btn-counter-up"></a>
                                <a href="#" class="btn btn-counter-down btn-disabled"></a>
                            </div>
                        </div>
                        <!-- <div class="input-element custom-options">
                            <label for="option-1">Option 1: Potongan</label>
                            <select class="input-full" name="option-1" id="option-1">
                                <option value="0">dada</option>
                                <option value="1">paha</option>
                                <option value="2">sayap</option>
                            </select>
                        </div>
                        <div class="input-element custom-options">
                            <label for="option-2">Option 2: Level Pedas</label>
                            <select class="input-full" name="option-2" id="option-2">
                                <option value="tidak pedas">tidak pedas</option>
                                <option value="sedang">sedang</option>
                                <option value="pedas">pedas</option>
                                <option value="sangat pedas">sangat pedas</option>
                            </select>
                        </div> -->
                        <div class="input-element">
                            <label for="add-order-notes">Notes</label>
                            <textarea class="input input-full" id="add-order-notes" placeholder="Write notes here..."></textarea>
                        </div>
                    </form>
                </div>
                <!-- <div class="popup-action-container action-single">
                    <a href="#" class="btn btn-large btn-green">Confirm</a>
                </div> -->
                <div class="popup-action-container action-dual group">
                    <a href="#" data-type="abort" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" data-type="confirm" class="btn btn-large btn-green" id="action-add-order">Add</a>
                </div>
            </div>
        </div>
        <div class="popup" id="popup-edit-order">
            <div class="popup-wrapper popup-with-action popup-add-edit-order">
                <div class="popup-header">
                    <span class="popup-title">
                        Edit Order
                    </span>
                    <a href="#" class="popup-close"></a>
                </div>
                <div class="popup-body">

                    <div class="product-item-image">
                        <img src="img/products/Ayam-Bakar.jpg" alt="">
                    </div>
                    <div class="add-edit-product-item-title">
                        <span>Ayam Bakar</span>
                    </div>
                    <form action="">
                        <div class="input-element input-quantity-container group">
                            <div class="input input-quantity-display">
                                <label for="edit-order-quantity">Quantity</label>
                                <input onClick="this.select();" type="number" value="1" id="edit-order-quantity" class="input-item-quantity">
                                <span>pcs</span>
                            </div>
                            <div class="input-counter-container">
                                <a href="#" class="btn btn-counter-up"></a>
                                <a href="#" class="btn btn-counter-down btn-disabled"></a>
                            </div>
                        </div>
                        <!-- <div class="input-element custom-options">
                            <label for="option-1">Option 1: Potongan</label>
                            <select class="input-full" name="option-1" id="option-1">
                                <option value="0">dada</option>
                                <option value="1">paha</option>
                                <option value="2">sayap</option>
                            </select>
                        </div>
                        <div class="input-element custom-options">
                            <label for="option-2">Option 2: Level Pedas</label>
                            <select class="input-full" name="option-2" id="option-2">
                                <option value="tidak pedas">tidak pedas</option>
                                <option value="sedang">sedang</option>
                                <option value="pedas">pedas</option>
                                <option value="sangat pedas">sangat pedas</option>
                            </select>
                        </div> -->
                        <div class="input-element">
                            <label for="edit-order-notes">Notes</label>
                            <textarea class="input input-full" id="edit-order-notes" placeholder="Write notes here..."></textarea>
                        </div>
                    </form>
                </div>
                <!-- <div class="popup-action-container action-single">
                    <a href="#" class="btn btn-large btn-green">Confirm</a>
                </div> -->
                <div class="popup-action-container action-dual group">
                    <a href="#" data-type="abort" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" data-type="confirm" class="btn btn-large btn-green" id="action-save-changes">Save Changes</a>
                </div>
            </div>
        </div>
        <div class="popup" id="popup-finish-payment">
            <div class="popup-wrapper popup-wrapper-small" id="popup-wrapper-finish">
                <div class="popup-header">
                    <span class="popup-title">
                        Would you like a Receipt?
                    </span>
                    <!-- <a href="#" class="popup-close"></a> -->
                </div>
                <div class="popup-body">
                    <div class="popup-transaction-overview">
                        <span>Change:</span>
                        <h2>Rp 7.440</h2>
                    </div>
                    <form action="#" autocomplete="off">
                        <div class="input-element input-element-inline">
                            <!-- <input type="checkbox" name="print-receipt" value="print" class="checkbox"> -->
                            <label class="inactive fl" for="email-receipt">Print Receipt</label>
                            <div class="toggle-btn toggle-print-receipt">
                                <input type="checkbox" class="cb-value" value="print"/>
                                <span class="round-btn"></span>
                            </div>
                        </div>
                        <div class="input-element input-element-inline">
                            <!-- <input type="checkbox" name="email-receipt" value="email" class="checkbox"> -->
                            <label class="inactive fl" for="email-receipt">Email Receipt</label>
                            <div class="toggle-btn toggle-email-receipt">
                                <input type="checkbox" class="cb-value" value="email"/>
                                <span class="round-btn"></span>
                            </div><!-- 
                        </div>
                        <div class="input-element" id="email-address-receipt"> -->
                            <!-- <label for="customer-email">Email :</label> -->
                            <input class="input input-insider" id="customer-email" type="email" placeholder="email">
                        </div>
                    </form>
                </div>
                <div class="popup-action-container action-dual">
                    <a href="#" class="btn btn-large btn-grey action-cancel-popup">Cancel</a>
                    <a href="#" class="btn btn-large btn-green" id="action-transaction-done">Done</a>
                </div>
            </div>
        </div>




        <ion-nav class="app" [root]="rootPage">
        </ion-nav>