<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank Starter Template
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
 -->

<div class="app-header group">
    <div class="btn btn-main-menu fl"></div>
    <div class="eresto-logo group">
        <img src="img/eresto_logo.png" alt="">
        <p>eResto</p>
    </div>
    <div class="page-menu group">
        <ul class="page-menu-list fl">
            <li class="active" data-target="tables"><a href="#" (click)="switchTabs(0)"</li>
            <li data-target="takeaways"><a href="#" (click)="switchTabs(1)"</li>
        </ul>
        <div class="page-menu-list-mobile fl">
            <div class="drop-menu-trigger">Products</div>
            <ul class="drop-menu-list">
                <li class="active" data-target="tables"><a href="#" class="drop-menu-item">Products</a></li>
                <li data-target="takeaways"><a href="#" class="drop-menu-item">Categories</a></li>
            </ul>
        </div>
    </div>
    <div class="page-actions group">
        <a href="#" class="btn btn-notif fr"></a>
        <!-- <a href="#" class="btn btn-search fr"></a> -->
    </div>
</div>




<ion-nav class="app-body group" [root]="tab1Root">
</ion-nav>
