
@-webkit-keyframes animate-blinks {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes animate-blinks {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes animate-blinks {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes animate-blinks {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}


@-webkit-keyframes animate-floats {
    0%   { transform: translateY(-5%); }
    50%  { transform: translateY(5%); }
    100% { transform: translateY(-5%); }
}
@-moz-keyframes animate-floats {
    0%   { transform: translateY(-5%); }
    50%  { transform: translateY(5%); }
    100% { transform: translateY(-5%); }
}
@-o-keyframes animate-floats {
    0%   { transform: translateY(-5%); }
    50%  { transform: translateY(5%); }
    100% { transform: translateY(-5%); }
}
@keyframes animate-floats {
    0%   { transform: translateY(-5%); }
    50%  { transform: translateY(5%); }
    100% { transform: translateY(-5%); }
}


@-webkit-keyframes animate-slideleft {
    0%   { left: 100%; }
    100% { left: 0; }
}
@-moz-keyframes animate-slideleft {
    0%   { left: 100%; }
    100% { left: 0; }
}
@-o-keyframes animate-slideleft {
    0%   { left: 100%; }
    100% { left: 0; }
}
@keyframes animate-slideleft {
    0%   { left: 100%; }
    100% { left: 0; }
}


@-webkit-keyframes animate-reveal {
    0%   { left: 100%; }
    100% { left: 0; }
}
@-moz-keyframes animate-reveal {
    0%   { left: 100%; }
    100% { left: 0; }
}
@-o-keyframes animate-reveal {
    0%   { left: 100%; }
    100% { left: 0; }
}
@keyframes animate-reveal {
    0%   { left: 100%; }
    100% { left: 0; }
}