.app-page-container {
	display: block;
	padding: 2.5%;
	height: 100%;
	width: 100%;
	background-color: $super-subtle-grey;
	overflow-y: auto;
}
.page-heading-container {
	padding-top: 15px;
	margin: 0 1%;
}
.page-heading {
	font-weight: bold;
	line-height: 44px;
}
.date-filter-trigger {
	width: auto;
	float: right;
	padding: 0 10px;
	background-color: white;
	border-radius: 4px;
	border: 1px solid $subtle-grey;
	color: $black;
	padding-left: 40px;
	background-image: url('../img/ic_date_range_black_24px.svg');
	background-repeat: no-repeat;
	background-position: left 10px center;
	line-height: 36px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.page-block-container {
	background-color: white;
	border: 1px solid $subtle-grey;
	border-radius: 4px;
	margin: 8px 1%;
}
.block-col {
	float: left;
	margin: 0;
	padding: 15px 1%;

	border: none;
	border-right: 1px solid $subtle-grey;
	&:last-child {
		border-right: none;
	}
}

.page-block-container.row-separated {
	background: none;
	border: none;
	margin: 0;
	.block-col {
		border-radius: 4px;
		margin: 15px 1%;
		background-color: white;
		border: 1px solid $subtle-grey;
	}

	&.row-1-col .block-col {
		width: 98%;
	}

	&.row-2-col .block-col {
		width: 48%;
	}

	&.row-3-col .block-col {
		width: calc(100% / 3 - 2%);
	}

	&.row-4-col .block-col {
		width: 23%;
	}
}

.row-1-col .block-col {
	width: 100%;
}

.row-2-col .block-col {
	width: 50%;
}

.row-3-col .block-col {
	width: calc(100% / 3);
}

.row-4-col .block-col {
	width: 25%;
}

.block-col-header {
	display: block;
	border-bottom: 1px solid $subtle-grey;
	text-align: left;
}

.block-col-title {
	padding: 15px;
}

.block-col-body {
	display: block;
	padding: 15px;
}

.stat-big-number {
	font-size: 3em;
	line-height: 60px;
	text-align: left;
	color: $darker-secondary-color;
}
.stat-big-money {
	font-size: 2em;
	line-height: 60px;
	text-align: right;
	color: $darker-secondary-color;
}
.stat-big-text {
	font-size: 2em;
	line-height: 60px;
	text-align: left;
	color: $darker-secondary-color;
}


