.app {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.app-header {
    background-color: $main-color;
}
@import 'app-header';

.app-body {
    display: block;
    height: calc(100% - 44px);
    position: relative;
    float: right;
    width: 100%;
}
@import 'app-body';







.open {
    .selector-container {
        width: calc(100% / 3 * 2);
    }
    .product-catalog-container {
        width: calc((100% / 3 * 2) - 8px);
    }
    
    .selection-container {
        display: block;
    }
    &.flash .selection-container {
        // opacity: .5;
        // left: 20px;
        .table-order-item {
            transform: translateX(500%);
            opacity: 0;
            &:nth-child(1) {
                transform: translateX(100%);
            }
            &:nth-child(2) {
                transform: translateX(150%);
            }
            &:nth-child(3) {
                transform: translateX(200%);
            }
            &:nth-child(4) {
                transform: translateX(250%);
            }
            &:nth-child(5) {
                transform: translateX(300%);
            }
            &:nth-child(6) {
                transform: translateX(350%);
            }
            &:nth-child(7) {
                transform: translateX(400%);
            }
            &:nth-child(8) {
                transform: translateX(450%);
            }
            // After the 8th child, will be translated 500% from the inheritance
        }
    }

    &.page-dual {
        .selector-container, .selection-container {
            width: 50%;
        }
    }
}

.page-dual .selector-container {
    width: 50%;
}

.page-menu {
    float: left;
    height: 100%;
    width: 50%;
}
.page-menu-list {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        a {
            display: block;
            padding: 0 8px;
            color: white;
            text-decoration: none;
            height: 44px;
            line-height: 44px;
        }
        &.active {
            a {
                box-sizing: border-box;
                border-bottom: 2px solid white;
                font-weight: bold;
            }
        }
    }
}
.drop-menu-trigger {
    color: white;
    height: 56px;
    display: block;
    line-height: 56px;
    // width: 100%;
}
.page-menu-list-mobile {
    display: none;
    position: relative;
    height: 100%;
    // width: 100%;
}
.drop-menu-trigger, .drop-menu-list {
    display: block;
    text-align: left;
}
.drop-menu-trigger {
    display: block;
    height: 56px;
    padding-left: 5px;
    padding-right: 56px;

    &::after {
        display: block;
        width: 56px;
        height: 56px;
        position: absolute;
        right: 0;
        top: 0;
        background-image: url("../img/ic_arrow_drop_down_white_24px.svg");
        background-repeat: no-repeat;
        background-position: center center;
        content:"";
    }
}
.drop-menu-list {
    z-index: 1000;
    display: none;
    transition: opacity .25s;
    opacity: 0;
    overflow: hidden;
    &.opened {
        display: block;
    }
    &.visible {
        opacity: 1;
        li {
            margin-left: 0 !important;
        }
    }
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    background-color: white;
    border-radius: 4px;
    border: 1px solid $subtle-grey;
    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
    li {
        transition: margin-left .25s;
        a {
            display: block;
            text-align: left;
            padding: 15px 20px;
            color: $black;
            text-decoration: none;
        }
        &.active a {
            display: none;
        }
        &:nth-child(1) {
            // margin-left: calc(-100% - 50px);
            margin-left: calc(-100%);
        }
        &:nth-child(2) {
            // margin-left: calc(-100% - 100px);
            margin-left: calc(-200%);
        }
        &:nth-child(3) {
            // margin-left: calc(-100% - 150px);
            margin-left: calc(-300%);
        }
        &:nth-child(4) {
            // margin-left: calc(-100% - 200px);
            margin-left: calc(-400%);
        }
        &:nth-child(5) {
            // margin-left: calc(-100% - 250px);
            margin-left: calc(-500%);
        }
        &:nth-child(6) {
            // margin-left: calc(-100% - 300px);
            margin-left: calc(-600%);
        }
    }
}


.page-actions {
    float: right;
}