form {
	label {
		display: block;
		text-align: left;
		font-size: 1em;
		line-height: 24px;
		opacity: 1;
		transition: opacity .250s;
		white-space: nowrap;
		&.inactive {
			opacity: .25;
		}
	}
	.input-element {
		margin-bottom: 8px;
		padding: 4px 0;
		&:last-child {
			margin-bottom: 0;
		}
		&.input-element-inline {
			content: "";
			display: table;
			clear: both;
			width: 100%;
		}
	}
	.input-element-group {
		&.has-2-inputs {
			.input-element {
				width: calc(50% - 5px);
				float: left;
				&:first-child {
					margin-right: 10px;
				}
			}
		}
	}

	input[type="text"],input[type="number"],input[type="password"],input[type="email"],input[type="date"],input[type="time"], textarea, select, option {
		display: block;
		height:44px;
		padding: 0 16px;

		border-radius: 4px;
		border: 1px solid $subtle-grey;

		background-color: white;

		margin-bottom: 5px;

		&:active {
			border: 2px solid blue; 
		}

		font-size: 1em;
		line-height: 44px;

		&::placeholder {
			color: $grey;
		}

		&.input-full {
			width: 100%;
		}
		&.input-insider {
			display: none;
			width: 100%;
			margin-top: 10px;
		}
		&.input-half {
			width: calc(50% - 8px);
			&:first-child {
				margin-right: 16px;
			}
		}
	}
	.input-assigned input {
		border: none;
		background-color: $super-subtle-grey;
		color: $secondary-color;
	}
	input[type="number"],input[type="date"],input[type="time"] {
		text-align: right;
	}
	.input-with-prefix {
		.input-prefix {
			width: 50px;
			height: 44px;
			line-height: 44px;
			display: block;
			float: left;
			background-color: $subtle-grey;
			color: $black;
			text-align: center;
			// border: 1px solid $grey;
			border-radius: 4px 0 0 4px;
		}
		input[type="number"].input-full {
			width: calc(100% - 50px);
			float: right;
			border-radius: 0 4px 4px 0;
		}
	}
	input.input-code {
		text-transform: uppercase;
	}
	input[type="number"].input-money {
		text-align: right;
		position: relative;
		&:after {
			content: "Rp";
			display: block;
			height: 100%;
			position: absolute;
			left: 0;
			padding: 15px;
			background-color: black;
			color: white;
			z-index: 1000;
		}
	}
	select {
		background-image: url('../img/ic_arrow_drop_down_black_24px.svg');
		background-repeat: no-repeat;
		background-position: right 10px center;
	}
	select:focus {
		background-image: url('../img/ic_arrow_drop_up_black_24px.svg');
	}
	.form-alert {
		display: block;
		width: 100%;
		line-height: 1.25em;
		font-size: 1em;
		padding: 10px;
		background-color: $main-color;
		color: white;
		margin: 10px 0;
	}

	.toggle-btn{
	  width: 48px;
	  height: 24px;
	  border-radius: 48px;
	  float: right;
	  display: block;
	  position: relative;
	  margin-right: 5px;
	  background : url('../img/ic_close_white_24px.svg') no-repeat 22px center #e74c3c;
	  cursor: pointer;
	  -webkit-transition: background-color .40s ease-in-out;
	  -moz-transition: background-color .40s ease-in-out;
	  -o-transition: background-color .40s ease-in-out;
	  transition: background-color .40s ease-in-out;
	  cursor:pointer;

	  &.active{
    	background : url('../img/ic_check_white_24px.svg') no-repeat 4px center #2ecc71;
    	.round-btn{
			left: 28px;
	    }
	  }

	  .round-btn{
	    width: 16px;
	    height: 16px;
	    background-color: #fff;
	    border-radius: 50%;
	    display: inline-block;
	    position: absolute;
	    left: 4px;
	    top: 50%;
	    margin-top: -8px;

	    -webkit-transition: all .30s ease-in-out;
	    -moz-transition: all .30s ease-in-out;
	    -o-transition: all .30s ease-in-out;
	    transition: all .30s ease-in-out;
	  }
	  .cb-value{
	    position: absolute;
	    left:0;
	    right:0;
	    width: 100%;
	    height: 100%;
	    opacity: 0;
	    z-index: 9;
	    cursor:pointer;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  }
	}


	textarea {
		min-height: 88px;
		height: auto;
		line-height: 1.2em;
		padding: 16px;
		resize: none;
	}
	select, option {
		text-transform: capitalize;
	}
	.input-with-action-group {
		input {
			width: calc(100% - 49px);
			float: left;
		}
		.btn {
			width: 44px;
			height: 44px;
			float: right;
		}
	}
}