.btn {
    display: block;
    width: 44px;
    height: 44px;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    cursor: pointer;
}
.btn-main-menu {
    background-image: url('../img/ic_menu_white_24px.svg');
}
.btn-notif {
    background-image: url('../img/ic_notifications_white_24px.svg');
}

.btn-rounded {
    border-radius: 4px;
}

.btn-green {
    background-color: $green;
    color: white;
}
.btn-red {
    background-color: $main-color;
    color: white;
}
.btn-blue {
    background-color: $secondary-color;
    color: white;
}
.btn-grey {
    background-color: $subtle-grey;
    color: black;
}
.btn-large {
    line-height: 24px;
    height: 56px;
    padding: 16px 0;
    width: 100%;
}

.btn-disabled-message {
    -webkit-animation: animate-floats 2s infinite; /* Safari 4+ */
    -moz-animation:    animate-floats 2s infinite; /* Fx 5+ */
    -o-animation:      animate-floats 2s infinite; /* Opera 12+ */
    animation:         animate-floats 2s infinite; /* IE 10+, Fx 29+ */
}

.btn-spinner-light {
    background-image: url(../img/ic_more_vert_white_24px.svg);
}
.btn-spinner-dark {
    background-image: url(../img/ic_more_vert_black_24px.svg);
}
.btn-back-light {
    background-image: url('../img/ic_arrow_back_white_24px.svg');
}
.btn-back-dark {
    background-image: url('../img/ic_arrow_back_black_24px.svg');
}
.btn-search-light {
    background-image: url('../img/ic_search_white_24px.svg');
}
.btn-search-dark {
    background-image: url('../img/ic_search_black_24px.svg');
}
.btn-attach-light {
    background-image: url('../img/ic_attach_file_white_24px.svg');
}
.btn-edit-light {
    background-image: url('../img/ic_edit_white_24px.svg');
}
.btn-attach-dark {
    background-image: url('../img/ic_attach_file_black_24px.svg');
}
.btn-user-add-dark {
    background-image: url('../img/ic_person_add_black_24px.svg');
}
.btn-close-light {
    background-image: url('../img/ic_close_white_24px.svg');
}
.btn-close-dark {
    background-image: url('../img/ic_close_black_24px.svg');
}
.btn-view-tiles {
    background-image: url('../img/ic_apps_black_24px.svg');
}
.btn-view-list {
    background-image: url('../img/ic_list_black_24px.svg');
}
.btn-counter-up {
    background-image: url('../img/ic_arrow_drop_up_white_24px.svg');
}
.btn-counter-down {
    background-image: url('../img/ic_arrow_drop_down_white_24px.svg');
}
.btn-disabled {
    opacity: .2;
}
.btn-disabled-message {
    background: none;
    color: black;
}
.btn-hidden {
    display: none;
}
.btn-hidden {
    display: none;
}
.btn-drop-container {
    position: relative;
    &.opened {
        span {
            opacity: .33;
        }
        .btn-drop-list {
            display: block;
        }        
    }
}
.btn-drop-list {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    right: 0;
    background-color: white;
    border-radius: 4px;box-shadow: 2px 2px 8px rgba(0,0,0,.5);
    z-index:50;
}

.selection-header .btn-close-light {
    float: right;
}