// Payment
#payment-input {
	form .input-element {
		margin-bottom: 0;
	}
}
.input-amount-display {
	display: block;
	height: 105px;
	width: 100%;
	border-radius: 4px;
	border: 1px solid $subtle-grey;
	float: left;
	position: relative;
	label {
		color: grey;
		position: absolute;
		left: 10px;
		top: 10px;
	}
	.input-amount {
		font-size: 3em;
		font-weight: bold;
		color: black;
		display: block;
		width: 100%;
		height: 100%;
	    line-height: 80px;
	    padding-top: 25px;
		text-align: right;
		box-shadow: inset 4px 4px 32px rgba(0,0,0,.1);
		transition: box-shadow .25s, border .25s;
		&:focus {
			outline: none;
			box-shadow: inset 4px 4px 16px rgba(0,0,0,.1);
			border: 2px solid $green;
		}
	}
}
.calculator-suggestion-container {
	height: 40px;
	width: 100%;
	overflow-x: auto;
	position: relative;
	margin-bottom: 10px;
}
.calculator-suggestion-inner-container {
	height: 40px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	text-align: left;
	white-space: nowrap;
}
.calculator-buttons-container {
	.btn {
		border: 1px solid $subtle-grey;
		font-size: 1.5em;
		line-height: 60px;
		height: 60px;
		text-align: center;
		border-radius: 4px;
		margin: 2px;
		color: $black;
		font-weight: bold;
	}
}
.calculator-left {
	width: 66%;
	float: left;
}
.calculator-right {
	width: 33%;
	float: right;
}
.btn-calc.btn-calc-preset {
	display: inline-block;
	width: auto;
	height: 40px;
	line-height: 40px;
	font-size: 1.25em;
	padding: 0 10px;
	margin: 0;
	margin-right: 5px;
	color: $green;
	border-color: $green;
}
.btn-calc.btn-calc-append, .btn-calc.btn-calc-clear {
	width: calc(33% - 4px);
	float: left;
	background-color: $super-subtle-grey;
}
.btn-calc.btn-calc-clear {
	color: red;
}
.btn-calc.btn-calc-add {
	background-color: $subtle-grey;
	width: 100%;
	float: left;
}

@media only screen and (min-device-width : 180px) and (max-device-width : 720px) {
	.btn-calc.btn-calc-preset {
		height: 36px;
		line-height: 36px;
		font-size: 1em;
	}
	.calculator-suggestion-container {
		height: 36px;
	}
	.calculator-suggestion-inner-container {
		height: 36px;
	}
}

#discount-input .popup-wrapper {
	width: 30%;
	.calculator-left {
		width: 100%;
	}
}