@import 'normalize';
@import 'reset';
@import 'clearfix';


/* ----- Color Palette ----- */
$black: #333333;    
$grey: #CACBCC;
$subtle-grey: #ECF0F1;
$super-subtle-grey: #F8FAFA;
$eresto-red: #951313;
$main-color: #F44336;
$darker-main-color: #D32F2F;
$secondary-color: #2196F3;
$darker-secondary-color: #1976D2;
$green: #8BC34A;
$darker-green: #76B42F;

@import 'animations';

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-appearance: none;
}

*::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5,h6 {margin:0; padding: 0;}

html {
    box-sizing: border-box;
    -webkit-appearance: none;
    position: relative;    
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #F6F7F9;

    // font-family: 'Roboto', 'Open Sans', 'Arial';
    font-family: -apple-system, BlinkMacSystemFont, Avenir, "Avenir Next", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.hidden {
    display: none !important;
}

.pad-10 {
    padding: 10px;
}

.eresto-logo {
    float: left;
    height: 44px;
    padding: 10px;
    margin-right: 5px;
    img {
        display: block;
        height: 100%;
        float: left;
    }
    p {
        display: block;
        line-height: 24px;
        color: white;
        float: left;
        margin-left: 5px;
    }
}

@import 'app';
@import 'app-page';

@import 'chart';

@import 'calculators';

.order-status-sign {
    transition: background-color .25s, border .25s;
}
.status-done {
    background-color: #8BC34A;
}
.status-pending {
    background-color: yellow;
}
.status-unconfirmed {
    background-color: none;
    border: 1px solid $secondary-color;
}

@import 'basic-forms';
@import 'basic-buttons';
@import 'popups';
@import 'notifications';
@import 'main-menu';
@import 'table';
@import 'xlist';
@import 'responsive-mobile';


.spinner-container {
    display: none;
    &.show  {
        display: block;
    }

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 50;
}
.spinner-smoke {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    transition: background .25s;
    &.visible {
        background-color: rgba(0,0,0,.25);
    }

    z-index: 51;
}
.spinner-content-container {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    min-height: 50px;
    min-width: 150px;
    background: none;
    overflow: hidden;
    border-radius: 4px;

    z-index: 52;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -10px;
    margin-bottom: -10px;

    ul {
        display: block;
        position: relative;
        &.spin-from-right.spin-from-bottom {
            transform: translate(100%,100%);
        }
        &.spin-from-left.spin-from-bottom {
            transform: translate(-100%,100%);
        }
        &.spin-from-right.spin-from-top {
            transform: translate(100%,-100%);
        }
        &.spin-from-left.spin-from-top {
            transform: translate(-100%,-100%);
        }
        transition: transform .25s, opacity .4s;
        opacity: 0;

        background-color: white;
        color: $black;
        border-radius: 4px;
        border: none;
    }
    &.visible {
        ul {
            opacity: 1;
            &.spin-from-right.spin-from-bottom {
                transform: translate(0,0);
            }
            &.spin-from-left.spin-from-bottom {
                transform: translate(0,0);
            }
            &.spin-from-right.spin-from-top {
                transform: translate(0,0);
            }
            &.spin-from-left.spin-from-top {
                transform: translate(0,0);
            }
        }
    }

    li {
        display: block;
        font-size: 1em;
        line-height: 24px;
        border-radius: 0;
        margin: 0;
        padding: 10px 15px;
        text-align: left;
        text-transform: capitalize;
        cursor: pointer;
        &:last-child {
            border: none;
        }
    }
}



.open.catalog {
    .selector-container {
        //display: none;
        position: absolute;
        left: 0;
        top: 0;
    }
}
/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 180px) and (max-device-width : 720px) and (orientation : portrait) {

    .open.catalog {
        .app-header,/* .selector-container, .selection-container */ {
            // display: none;
        }
    }
}