
.main-menu {

	display: none;
	&.show {
		display: block;
	}

	height: 100%;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
	z-index: 11;

	.main-menu-container {
		position: absolute;
		left: -100%;
		min-width: 300px;
		width: 25%;
		height: 100%;
		z-index: 12;
		box-shadow: 2px 2px 8px rgba(0,0,0,.5);
		background-color: white;

		transition: left .25s;
	}
	&.slide-right {
		.main-menu-container {
			left: 0;
		}
		.menu-smoke {
			background-color: rgba(0,0,0,.5);
		}
	}

	.main-menu-header-container {
		height: 200px;
		background-color: $secondary-color;
		padding: 15px 5px;
		h3 {
			font-size: 1em;
			color: white;
			line-height: 36px;
			padding: 4px;
		}
	}
	.main-menu-body-container {
		height: calc(100% - 200px);
		background-color: $subtle-grey;
		overflow-y: hidden;
		ul {
			height: calc(100% - 56px);
			border-radius: 4px;
			opacity: .5;
			cursor: pointer;
			position: relative;
			text-align: left;
			border-bottom: 1px solid $grey;
			overflow-y: auto;
		}
	}
	.main-menu-action-container {
		display: block;
		height: 56px;
		width: 100%;
	}
	.main-menu-item {
		//position: absolute;
		//bottom: 0;
		//left: 0;
		display: block;
		width: 100%;
		//padding: 5px 15px;
		a {
			color: $black;
			display: block;
			text-decoration: none;
			line-height: 24px;
			padding: 15px 15px;
			font-size: .875em;
			text-align: left;			
		}
		&.active a {
			color: $darker-secondary-color;
			font-weight: bold;
			background-color: white;
		}
		//background-color: $grey;

	}
	.menu-smoke {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0);
		transition: background-color .25s;
	}
}

.main-menu-picture {
	display: block;
	width: 100px;
	margin: 0 auto;
	height: 100px;
	border-radius: 100%;
}

.main-menu-title {
	color: white;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
}