
.notifications {

	display: none;
	&.show {
		display: block;
	}

	height: 100%;
	width: 100%;

	position: absolute;
	right: 0;
	top: 0;
	z-index: 11;

	.notif-container {
		position: absolute;
		right: -100%;
		min-width: 300px;
		width: 25%;
		height: 100%;
		z-index: 12;
		box-shadow: 2px 2px 8px rgba(0,0,0,.5);


		transition: right .25s;
	}
	&.slide-left {
		.notif-container {
			right: 0;
		}
		.notif-smoke {
			opacity: 1;
		}
	}

	.notif-header {
		height: 44px;
		background-color: $main-color;
		h3 {
			font-size: 1em;
			color: white;
			line-height: 36px;
			padding: 4px;
		}
	}
	.notif-body {
		height: calc(100% - 44px);
		background-color: $subtle-grey;
		overflow-y: auto;
	}
	.notif-item {
		//padding: 15px;
			padding: 12px;
		margin: 5px;
		border-radius: 4px;
		opacity: .5;
		cursor: pointer;
		position: relative;
		text-align: left;
		border-bottom: 1px solid $grey;
		//padding-bottom: 40px;
		overflow: hidden;
		&.item-new {
			opacity: 1;
			background-color: white;
			border: none;
		}
		p {
			margin-bottom: 4px;
			span {
				font-weight: bold;
			}
		}
	}
	.notif-item-time {
		//position: absolute;
		//bottom: 0;
		//left: 0;
		display: block;
		width: 100%;
		//padding: 5px 15px;
		color: $secondary-color;
		display: block;
		//background-color: $grey;
		font-size: .875em;
	}
	.notif-smoke {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,.2);
		opacity: 0;
		transition: opacity .25s;
	}
}
