.popup {
	z-index: 30;
	display: none;
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;

	background-color: rgba(0,0,0,0);
	transition: background-color .5s;

	&.show {
		display: block;
	}

	&.visible {
		background-color: rgba(0,0,0,.5);
	}
}


.popup-wrapper {
	z-index: 31;
	position: absolute;
	background-color: white;
	border-radius: 4px;
	height: auto;
	//max-height: 90%;
	//height: 50%;
	width: 50%;
	&.popup-wrapper-small {
		width: 25%;
	}
	
	//initially
	// top: -50%;
	// transform: scale(.1);
	transform: translate(-50%, -50%) scale(.5);
	opacity: 0;

	// in jquery change to top: 50%;
	top: 50%;
	left: 50%;
	transition: top .250s, left .250s, width .250s, transform .250s, opacity .250s;
	overflow: hidden;
	&.popup-full {
		height: calc(100% - 20px);
		.popup-body, .members-widget-list {
			height: calc(100% - 44px);
		}
	}
	&.table-detail-popup-container {
	    display: none;
	    transition: transform .250s, opacity .250s;
	    &.show {
	        display: block;
	        // transform: scale(.5);
        	transform: translateY(-150%);
	        opacity: 0;   
	    }
	    &.visible {
	        // transform: scale(1);
	        opacity: 1;        
	        transform: translateY(0);
	    }
	    position: absolute;
	    top: auto;
	    left: auto;
	    overflow: hidden;
	    width: calc(100% - 10px);
	    background-color: white;
	    border-radius: 4px;
	    z-index: 100;
	    border: 1px solid grey;
	    box-shadow: 2px 2px 8px rgba(0,0,0,.5);
	    .popup-body {
	        text-align: left;
	    }
	}
}
.visible {
	// background-color: rgba(0,0,0,.5);
	.popup-wrapper {
		// top: 50%;
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

.popup-header {
	position: relative;
	background-color: $subtle-grey;
	border-bottom: 1px solid $grey;
	height: 44px;
	text-align: center;
	span.popup-title {
		display: block;
		line-height: 44px;
		height: 44px;
		max-width: calc(100% - 44px);
		padding-left: 44px;
		font-size: 1em;
		overflow-x: scroll;
		overflow-y: hidden;
		color: black;
	}
	.popup-close, .widget-close {
		display: block;
		height: 44px;
		width: 44px;

		position: absolute;
		right: 0;
		top: 0;

		//background-size: 24px 24px;
		background-repeat: no-repeat;
		background-position: center;
		//background-image: url('../img/btn-close-dark.svg');
    	background-image: url('../img/ic_close_black_24px.svg');
	}
}

.popup-body {
	padding: 20px 40px;
	//max-height: 720px;
	//max-height: 10%;
	// height: calc(100% - 44px - 50px);
	overflow-y: auto;
}

.popup-wrapper.popup-with-action {
    .popup-body {
        height: calc(100% - 44px - 50px);
    }
}

.popup-wrapper.popup-with-subheader {
    .popup-body {
        height: calc(100% - 44px);
    }
}

.popup-notes {
	display: block;
	padding: 20px 0;
	text-align: center;
}

.popup-action-container {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
	.btn {
		height: 50px;
		display: block;
		width: 100%;
	}
	&.action-dual {
		.btn {
			float: left;
			width: 50%;
		}
	}
}

.add-edit-product-item-title {	
	width: 100%;
    padding: 8px 16px 4px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;

    overflow: hidden;
    padding: 4px 0 6px;
    span {
        font-size: 1em;
    	color: $darker-secondary-color;
        line-height: 18px;
        text-align: center;
    }
}









.popup-add-edit-order {
	.product-item-image {
		text-align: center;
		background: none;
		width: 100%;
		img {
			width: 50%;
			border-radius: 4px;
			display: inline;
		}
	}
}



.input-quantity-display {
	display: block;
	height: 105px;
	width: calc(100% - 55px);
	border-radius: 4px;
	border: 1px solid $subtle-grey;
	float: left;
	position: relative;
	label {
		color: grey;
		position: absolute;
		left: 10px;
		top: 10px;
	}
	span {
		color: grey;
		position: absolute;
		right: 10px;
		bottom: 10px;
	}
	.input-item-quantity {
		font-size: 3em;
		font-weight: bold;
		color: black;
		display: block;
		width: 100%;
		height: 100%;
		line-height: 105px;
		text-align: center;
	}
}
.input-counter-container {
	float: right;
	width: 50px;
	height: 105px;
	.btn {
		width: 50px;
		height: 50px;
		margin-bottom: 5px;
		background-color: grey;
		border-radius: 4px;
	}
}

.search-bar {
	display: block;
	width: 100%;
	height: 44px;

	position: absolute;
	top: 0;
	left: 0;

	z-index: 20;

	background-color: $subtle-grey;
	form {
		display: block;
		height: 100%;
		width: 100%;
	}
	.input {
		margin: 4px;
		height: calc(100% - 8px);
		width: calc(100% - 8px);
	}
}

.smoke, .product-catalog-smoke, .selection-smoke {
	display: none;
	&.show {
		display: block;
	}	
	&.visible {
		background-color: rgba(0,0,0,.25);
	}
	width: 100%;
	height: 100%;

	position: fixed;
	left: 0;
	top: 0;

	z-index: 29;

	background-color: rgba(0,0,0,0);
	transition: background-color .25s;
}

.more {
	display: none;
	// z-index:
	&.show {
		display: block;
	}

	z-index: 40;

	width: auto;
	height: auto;
	border-radius: 4px;
	background-color: white;

	position: absolute;
	//top: calc(100% + 3px);
	top: 18px;
	right: 2px;

	overflow: hidden;

	li {
		display: block;
		border-bottom: 1px solid $subtle-grey;
		a {
			display: block;
			padding: 8px 24px;
			line-height: 1.5em;
			white-space: nowrap;
			text-decoration: none;
			color: $secondary-color;
			&:hover {
				background-color: $super-subtle-grey;
			}
		}
		&:last-child {
			border: none;
		}
	}
}


.popup-wrapper-search {
	.popup-body {
		padding: 0;
	}
}
.input-with-action-group {
	.btn-close-dark, .btn-user-add-dark {
		display: none;
	}
	&.input-assigned {
		.btn-close-dark {
			display: block;
		}
		.btn-user-add-dark, .btn-search-dark {
			display: none;
		}
	}
	&.input-has-value {
		.btn-user-add-dark {
			display: block;
		}
		.btn-search-dark, .btn-close-dark {
			display: none;
		}
	}
}

.members-widget-searchbox {
	display: block;
	width: 100%;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $grey;
	line-height: 44px;
	padding: 0 16px;
}
.members-widget-list {
	padding: 12px;
	height: 500px;
	overflow-y: auto;
	li {
		display: block;
		padding: 12px 4px;
		border-bottom: 1px solid $subtle-grey;
		cursor: pointer;
	}
	img {
		display: block;
		width: 50px;
		height: 50px;
		border-radius: 4px;
		border-radius: 100%;
		
	}
	h3 {
		display: block;
		color: $black;
		font-weight: bold;
		text-align: left;
		line-height: 1.5em;
	}
	p {
		display: block;
		color: grey;
		text-align: left;
		line-height: 1.125em;
	}
}
.widget-member-photo {
	float: left;
	width: 50px;
}
.widget-member-info {
	float: right;
	width: calc(100% - 60px);
}

.popup-with-widget {
	.popup-wrapper {
		width: 30%;
		left: calc(35% - 5px);
	}
	.popup-body {
		padding: 12px;
	}
	// #popup-wrapper-new {
	// 	// left: 30%;
	// 	left: calc(35% - 5px);
	// }
	.popup-wrapper-save, .popup-wrapper-search {
		//left: 60%;
		left: calc(65% + 5px);
	}
}
.popup-transaction-overview {
	text-align: center;
	margin: 20px;
	span {
		display: block;
		text-align: center;
		font-size: .875em;
	}
	h2 {
		display: block;
		text-align: center;
		font-size: 1.5em;
		font-weight: bold;
	}
}
#email-address-receipt {
	display: none;
}