.product-catalog-container {
    display: none;
    margin: 4px;
    border-radius: 4px;
    overflow: hidden;
    height: calc(100% - 8px);
    border: 2px solid $grey;
    float: left;
    background-color: $super-subtle-grey;

    // box-shadow: 4px 4px 16px rgba(0,0,0,.33);
    box-sizing: border-box;
    z-index: 10;
    position: relative;

    transition: transform .25s, opacity .25s;

    opacity: 0;
    transform: scale(.1);
    &.visible {
        opacity: 1;
        transform: scale(1);
    }
}
.product-search-box {
    display: none;
    &.show {
        display: block;
    }
    &.visible {
        top: 0;
    }
    position: absolute;
    top: -44px;
    transition: top .25s;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid grey;
    background-color: white;
    input {
        display: block;
        float: left;
        line-height: 44px;
        height: 100%;
        width: calc(100% - 88px);
        z-index: 100;
        padding-right: 8px;
        margin-left: 44px;
        border: none;
        border-right: 1px solid $grey;
        &:focus {
            outline: none;
        }
    }
    background-image: url(../img/ic_search_black_24px.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
    .btn {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.catalog .product-catalog-container {
    display: block;
}

.product-catalog-header {
    height: 44px;
    background-color: $subtle-grey;
    border-bottom: 1px solid $grey;
    position: relative;
        text-align: center;
    h1 {
        display: inline;
        text-align: center;
        line-height: 44px;
        font-size: 1em;
        padding-left: 132px;
    }
    .btn {
    }
    .btn-back-dark {
        display: none;
    }
}

.product-catalog-body {
    height: calc(100% - 44px);
    padding: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: $super-subtle-grey;
    transition: background .5s;
}
.searching .product-catalog-body {
    // background-color: $subtle-grey;
    background-color: $grey;
}

.product-category {
    background-color: $subtle-grey;
    border: 1px solid #ECF0F1;
    border-radius: 4px;
    margin-bottom: 5px;
    transition: background-color .25s;
    &.expand {
        background: white;
        .product-category-header:after {
            transform: rotate(180deg);
        }
        .product-category-body {
            display: block;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.product-category-header {
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: -5px;
    &:after {
        content: "";
        display: block;
        width: 44px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 1%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        background-image: url('../img/ic_arrow_drop_down_black_24px.svg');
        opacity: .5;
    }
}
.product-category-title {
    font-size: 1em;
    font-weight: bold;
    color: $secondary-color;
    line-height: 40px;
}
.product-category-body {
    display: none;
}


.product-subcategory {
    //background-color: $subtle-grey;
    //border: 1px solid #ECF0F1;
    // border-radius: 4px;
    //margin-bottom: 5px;
    border-bottom: 1px solid #ECF0F1;
    &.expand {
        background: white;
        .product-subcategory-header span {
            transform: rotate(180deg);
        }
        .product-subcategory-body {
            //display: block;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.product-subcategory-header {
    display: block;
    text-align: left;
    position: relative;
    //margin-bottom: -5px;

    span {
        display: block;
        width: 44px;
        // height: 100%;
        height: 40px;
        float: left;
        // position: absolute;
        // top: 0;
        // right: 1%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        background-image: url('../img/ic_arrow_drop_down_black_24px.svg');
        opacity: .5;
    }
}
.product-subcategory-title {
    display: block;
    float: left;
    font-size: 1em;
    color: $secondary-color;
    line-height: 40px;
    padding: 0 15px;
}
.product-subcategory-body {
    display: block;
}

.product-item-box {
    display: block;
    float: left;
    margin: 5px;
    position: relative;
    &.sold-out {
        &::after {
            content: "Sold Out";
            color: white;
            text-align: center;
            line-height: 77px;
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            background-color: rgba(0,0,0,.75);
            top: 0;
            left: 0;
        }
    }
}
.catalog-tiles {
    .product-item-box {
        width: calc(25% - 10px);
    }
    .product-item-info {
        display: block;
    }
    .product-item-info-list {
        display: none;
    }
}
.catalog-list {
    .product-category-body {
        //padding: 0 10px;
    }
    .product-item-box {
        width: 100%;
        border-bottom: 1px solid $subtle-grey;
        padding: 8px;
        margin: 0;
    }
    .product-item-image {
        float: left;
        width: 80px;
        height: auto;
        min-height: auto;
    }
    .product-item-title {
        float: left;
        text-align: left;
        width: calc(100% - 80px);
        color: $black;
        padding: 8px 16px 4px;
        font-size: 1.125em;
        font-weight: bold;
    }
    .product-item-info {
        display: none;
    }
    .product-item-info-list {
        display: block;
        text-align: left;
        float: left;
        width: calc(100% - 80px);
        padding: 4px 16px 8px;
    }
}
.product-item-image {
    border-radius: 4px;
    position: relative;
    min-height: 100px;
    background-color: black;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.product-item-title {
    overflow: hidden;
    padding: 4px 0 6px;
    span {
        font-size: 1em;
        color: $black;
        line-height: 18px;
    }
}
.product-item-info {
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    color: black;
    padding: 6px;
    background-color: rgba(255,255,255,.8);
    border-radius: 4px;
    font-size: .875em;
}
.product-added-quantity {
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    color: black;
    // padding: 0 6px;
    background-color: yellow;
    font-weight: bold;
    border-radius: 4px;
    font-size: .875em;
    line-height: 18px;
    height: 18px;
    min-width: 18px;
    text-align: center;
}