/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 180px) and (max-device-width : 720px) {
    


.open .app-header {
    // display: none;
    .table-detail-element {
        height: calc(100% - 35px - 5px - 50px);
    }
}

.app-header {    
    .btn {
        height: 56px;
        width: 56px;
    }
    h3 {
        line-height: 56px;
    }
}

.selection-header {
    .btn {
        height: 56px;
        width: 56px;
    }
    h3 {
        line-height: 56px;
        margin: 0;
    }
}

.selection-header .btn-close-light {
    background-image: url('../img/ic_arrow_back_white_24px.svg');
    float: left;
}

.page-menu {
}

.page-menu-list {
    display: none;
}
.page-menu-list-mobile {
    display: block;
}

.eresto-logo {
    // float: left;
    // height: 56px;
    // padding: 16px;
    // img {
    //     display: block;
    //     height: 100%;
    //     float: left;
    // }
    // p {
    //     display: block;
    //     line-height: 24px;
    //     color: white;
    //     float: left;
    //     margin-left: 5px;
    // }
    display: none;
}

.app-body {	
	height: calc(100% - 56px);
}
.open {	
	.app-body {
		height: 100%;
	    .selector-container {
	        // display: none;
            width: 100%;
	    }
        .selection-container {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 100%;
            top: -56px;
            background-color: white;
            box-shadow: -4px 0 4px rgba(0,0,0,.2);
        }
        .selection-container.visible  {
            left: 0;
        }
    }
}
.page-dual .selector-container , .page-dual .selection-container {
    width: 100%;
}

.selection-container, .table-history-container {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}

.selection-section-body {
    // height: calc(100% - 56px);
}
.section-no-header .selection-section-body {
    height: calc(100% - 5px);
}
// .has-action .selection-section-body {
//     height: calc(100% - 56px - 50px);
// }

.has-subheader .selection-section.has-action .selection-section-body {
    // height: calc(100% - 5px - 56px);
    height: calc(100% - 5px - 50px);
}

.selection-section.has-action .selection-section-body {
    // height: calc(100% - 5px - 56px);
    height: calc(100% - 50px);
}


.selection-sections-container {
    height: calc(100% - 56px);
}

.has-subheader .selection-sections-container {
    height: calc(100% - 56px - 40px);
}

.table-area-body {
    padding: 2px;
}

.table-box {
    width: calc(33.3% - 6px);
    margin: 3px;
    height: 65px;    
}
.table-number {
    font-size: 1.2em;
    line-height: 65px;
}

.table-box-info {
    padding: 0 3px;
    height: 16px;
    span {
        font-size: .75em;
        line-height: 16px;
    }
}

.table-box-spinner {
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
}

.open .product-catalog-container {
	width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: -56px;
    border-radius: 0;
    z-index: 15;
}

.catalog-tiles {
    .product-item-box {
        width: calc(50% - 10px);
    }
}

.product-search-box {
    height: 56px;
    background-position: 16px center;
    top: -56px;
    input {
        line-height: 56px;
        width: calc(100% - 112px);
        margin-left: 56px;
    }
    .btn {
        margin-top: 6px;
        margin-right: 6px;
    }
}

.product-catalog-header {
    height: 56px;
    h1 {
	    float: left;
    	line-height: 56px;
    	padding: 0;
    }
    .btn {
    	width: 56px;
    	height: 56px;
    }
    .btn-back-dark {
    	display: block;
    }
    .btn-close-dark {
    	display: none;
    }
}
.product-catalog-body {
    height: calc(100% - 56px);
}


.table-reserved {
    &:after {
        font-size: .75em;
    }
}


.popup {
}

.show {
}

.popup-wrapper {
	width: calc(100% - 10px)!important;
}

.popup-header {
	height: 56px;
	span.popup-title {
		line-height: 56px;
		font-size: 1em;
        height: 56px;
        max-width: calc(100% - 56px);
        padding-left: 56px;
	}
	.popup-close, .widget-close {
		height: 56px;
		width: 56px;
	}
}
.table-charges-options {
    .popup-header {
        height: 44px;
        .popup-close, .widget-close {
            height: 44px;
            width: 44px;
        }
    }
    .popup-body {
        height: calc(100% - 44px);
    }
}
.popup-body {
	padding: 16px;
	height: calc(100% - 56px - 50px);
	overflow-y: auto;
}

.popup-wrapper.widget-with-action {
    .popup-body {
        height: calc(100% - 56px - 50px);
    }
}

.popup-wrapper.widget-with-subheader {
    .popup-body {
        height: calc(100% - 44px);
    }
}
.popup-wrapper.popup-with-action .popup-body {
    height: calc(100% - 56px - 50px);
}

.popup-action-container {
	.btn {
		height: 50px;
		display: block;
		width: 100%;
	}
	&.action-dual {
		.btn {
			float: left;
			width: 50%;
		}
	}
}


.popup-with-widget {
    .popup-wrapper {
        width: calc(100% - 10px);
    }
    #popup-wrapper-new, #popup-wrapper-save, #popup-wrapper-search, .popup-wrapper, .popup-wrapper-save, .popup-wrapper-search {
        left: 50%;
    }
}

.more {
    li a {
        font-size: 0.75em;
        padding: 12px 18px
    }
}


.notifications {
    .notif-header {
        height: 56px;
        h3 {
            line-height: 48px;
            padding: 4px;
        }
    }
    .notif-body {
        height: calc(100% - 56px);
    }
}
.btn-notif {
    height: 56px;
    width: 56px;
}


// .calculator-buttons-container {
//     .btn {
//         line-height: 44px;
//         height: 44px;
//     }
// }
.btn-calc {
    line-height: 44px;
    height: 44px;
}

.input-amount-display .input-amount {
    font-size: 2em;
}



.selection-section {
    // top: 56px;
}

.login-screen {
    height: 100%;
    padding: 5px;
    background-size: auto 50%;
}

.login-form-container {
    width: 80%;
    padding: 10px;
}

.selector-filter-container {
    width: 100% !important;
    height: auto;
    .filter-head {
        text-indent: 0;
        background-image: url("../img/ic_arrow_drop_down_black_24px.svg");
    }
    .filter-body {
        display: none;
        font-size: .75em;
    }
}
.filter-expanded .selector-filter-container .filter-head {
    background-image: url("../img/ic_arrow_drop_up_black_24px.svg");
}

// .tables-type-content-container {
.selector-inner-container {
    width: 100% !important;
    height: calc(100% );
}
.has-filter.selector-inner-container {
    height: calc(100% - 50px);
}
.xtable-head {
    height: auto;
}
.xtable-col {
  font-size: .75em;
  // padding: 16px 8px !important;
}
.xtable-body {
  height: calc(100% - 33px);
}
.xtable-actions {
  position: fixed;
}
.selection-header-nav {
  li {
      a {
          line-height: 46px;
          padding: 6px 12px 4px;
      }
  }
}

.block-col {
    width: 100% !important;
    margin: 5px 1% !important;
}

.page-heading-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 10px;
    margin: 0;
    width: 100%;
    background-color: $main-color;
    color: white;
    border: none;
    z-index: 10;
}
.app-page-container {
    padding-top: 60px;
}
}
