.tables-type-page-container {
    height: 100%;
}

.tables-type-filter-container {
    height: 100%;
}

.tables-type-content-container {
    height: 100%;
}

.selector-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    float: left;
    background-color: white;
    transition: width .33s;
}

.table-view-header {
    height: 30px;
    background-color: $subtle-grey;
    span {
        text-align: center;
        display: block;
        line-height: 30px;
    }
}

.table-view-body {
    height: calc(100% - 30px);
    padding: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    background-image: url('../img/eresto_background.png');
    background-position: center center;
    // background-position: calc(5px) calc(100% - 5px);
    background-repeat: no-repeat;
    background-size: auto 50%;
}

.table-area-box {
    background-color: $subtle-grey;
    transition: background-color .5s;
    margin: 5px 0;
    border: 1px solid $subtle-grey;
    border-radius: 4px;
    .table-area-body {
        display: block;
    }
    &.expand {
        background: rgb(255,255,255);
        .table-area-header {
            &:after {
                transform: rotate(180deg);
            }
        } 
        .table-area-body {
            display: block;
        }
    }
}

.table-area-header {
    border-radius: 4px;
    position: relative;
	cursor: pointer;
    &:after {
        content: "";
        display: block;
        width: 44px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 1%;
        background-position: center center;
        background-repeat: no-repeat;
        //background-size: 18px;
        //background-image: url('../img/dropbox-arrow.svg');
        background-image: url('../img/ic_expand_more_black_24px.svg');

    }
    h2 {
        font-size: 1em;
        color: $main-color;
        line-height: 42px;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
    }
}

.table-area-body {
    padding: 0 10px 10px;
}

.table-box {
    float: left;
    display: block;
    position: relative;
    height: 100px;
    border-radius: 4px;
    margin: 5px;
    width: calc(20% - 10px);
    cursor: pointer;
    transition: background-color .25s;
    &.selected {
    	background-color: $main-color;
        border: none;
        .table-box-spinner {
            background-image: url('../img/ic_more_vert_white_24px.svg');
        }
        .table-box-info {
            //border: none;
        }
    	h3 {
    		color: white;
    	}
        .table-info-name {
            color: $darker-secondary-color;
        }
    }
}
.table-number {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    line-height: 100px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.table-box-info {
    position: absolute;
    bottom: 0;
    height: 24px;
    display: block;
    width: 100%;
    padding: 0 6px;
    background-color: white;
    border: 1px solid $subtle-grey;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
    span {
        font-size: 0.875em;
        line-height: 24px;
    } 
}

.table-info-name {
    float: left;
    font-weight: bold;
    transition: color .25s;
}
.table-info-time {
    float: right;
}
.table-info-link {
    float: right;
}

.table-box-spinner {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    display: block;
    width: 42px;
    height: 42px;
    //background-image: url('../img/btn-spinner-dark.svg');
    background-image: url('../img/ic_more_vert_black_24px.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.table-available {
    background-color: #8BC34A;
}

.table-occupied {
    background-color: $subtle-grey;
}

.table-linked {
    background-color: $subtle-grey;
    color: $grey;
    &:after {
        content: "LINKED";
        font-size: .625em;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 0;
        color: rgba(0,0,0,.5);
    }
    h3 {
        color: grey;
    }
}

.table-reserved {
    background-color: #FFEB3B;
    &:after {
        content: "RESERVED";
        font-size: .625em;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 15%;
        left: 0;
        color: rgba(0,0,0,.5);
    }
}