// .selection-container, .table-history-container {
.selection-container {
    display: none;
    // width: 434px;
    width: calc(100% / 3 * 1);
    // width: 0;
    // max-width: 33.9%;
    height: 100%;
    // float: right;
    float: left;
    transition: right .33s, width .33s, left .33s, opacity .1s, transform .1s;
    // left: 100%;
    left: calc(100% / 3 * 1);
    opacity: .5;
    z-index: 10;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.selection-container.visible {
    width: calc(100% / 3 * 1);
    left: 0;
    opacity: 1;
}

.selection-inner-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.selection-sections-container {
    display: block;
    position: relative;
    height: calc(100% - 44px);
    width: 100%;
    overflow: hidden;
}
.has-subheader {
    .selection-sections-container {
        height: calc(100% - 44px - 40px);
    }
}

.selection-sections-inner-container {
    display: block;
    height: 100%;
    width: 100%;

    // position: relative;
    position: absolute;
    left: 0;
    transition: left .33s;
}
.has-1-sections {
    .selection-sections-inner-container {
        width: 100%;
    }
    .selection-section {
        width: 100%;
    }
}
.has-2-sections {
    .selection-sections-inner-container {
        width: 200%;
    }
    .selection-section {
        width: 50%;
    }
}
.has-3-sections {
    .selection-sections-inner-container {
        width: 300%;
    }
    .selection-section {
        width: calc(100% / 3);
    }
}
.has-4-sections {
    .selection-sections-inner-container {
        width: 400%;
    }
    .selection-section {
        width: 25%;
    }
}
.has-5-sections {
    .selection-sections-inner-container {
        width: 500%;
    }
    .selection-section {
        width: 20%;
    }
}

.selection-section, .table-history-inner-container {
    height: 100%;
    width: 50%;
    float: left;
    // left: 0;
    // top: 44px;
    // top: 0;
    // position: absolute;
}
.has-new-orders {
    .table-order-item {
        opacity: .2;
        .order-item-actions {
            display: none;
        }
        &.new-order-item {
            opacity: 1;
            .order-item-actions {
                display: block;
            }
        }
    }
    #btn-to-payment {
        display: none;
    }
    #btn-confirm-orders {
        display: block;
    }
}

// .table-detail-popup-container {
//     display: none;
//     transition: transform .250s, opacity .250s;
//     &.show {
//         display: block;
//         transform: scale(.5);
//         opacity: 0;   
//     }
//     &.visible {
//         transform: scale(1);
//         opacity: 1;        
//     }
//     position: absolute;
//     overflow: hidden;
//     // top: 44px;
//     width: calc(100% - 10px);
//     // margin: 0 5px;
//     background-color: white;
//     border-radius: 4px;
//     z-index: 100;
//     border: 1px solid grey;
//     box-shadow: 2px 2px 8px rgba(0,0,0,.5);
//     .popup-body {
//         text-align: left;
//     }
// }
.table-detail-item-container {
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: 1px solid $subtle-grey;
    text-align: left;
    &:last-child {
        border: none;
        margin-bottom: 0;
    }
}
.table-detail-item-label {
    color: $secondary-color;
}
.table-detail-item {
    text-align: right;
    padding: 4px 0;
}

#detail-orders {
    z-index: 7;
}
#detail-payments {
    z-index: 8;
}

// ---------- Table Detail Header ---------- //

// .selection-container, .selection-header {
.selection-header {
    background-color: $main-color;
    color: white;
    //height: 44px;
    h3 {
        line-height: 44px;
        font-weight: bold;
        margin-left: 8px;
    }
}



// ---------- Table Detail Body ---------- //

.selection-section-body {
    height: calc(100% - 5px);
    background-color: $super-subtle-grey;
    // overflow-y: auto;
}
.has-subheader {
    .selection-section-body {
        >:last-child {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.selection-section.has-action {
    .selection-section-body {
        // height: calc(100% - 5px - 50px);
        height: calc(100% - 50px);
        background-color: $super-subtle-grey;
    }
}

.table-history-body {
    height: 100%;
}

// .has-action {
// 	.selection-section-body {
// 	    height: calc(100% - 44px - 50px);
// 	}
// }

/*
.selection-subheader {
    padding: 5px 5px 0 5px;
    font-size: 1em;
    line-height: 25px;
    h4 {
        font-weight: bold;
        color: $darker-secondary-color;
    }
}
*/
.selection-subheader {
    font-size: 1em;
    height: 40px;
    padding: 5px 5px 0;
    position: relative;
    h4 {
        font-weight: bold;
        line-height: 35px;
        font-size: 1.25em;
        padding-left: 10px;
        color: $darker-secondary-color;
    }
    .btn-reveal-info {
        text-transform: uppercase;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        background-color: $secondary-color;
        border-radius: 4px;
        float: right;
        color: white;
        text-decoration: none;

    }
}

.selection-elements-container {
    // height: calc(100% - 40px - 5px);
    height: 100%;
    // margin-bottom: 5px;
    width: 100%;
}
.elements-single {
    .table-detail-element {
    	height: calc(100% - 5px);
    }
}
.elements-dual {
    .table-detail-element {
    	height: calc(50% - 5px);
    }
}
.table-detail-element {
    background-color: white;
    border-radius: 4px;
    border: 1px solid $secondary-color;
    margin: 5px;
    overflow: hidden;
    position: relative;
}
.table-detail-element-header {
    height: 44px;
    //color: white;
    color: $black;
    text-align: left;
    line-height: 44px;
    padding-left: 8px;
    font-weight: bold;
    font-size: 1em;
    &.element-light {
        color: $black;
        .btn-add {
            background-image: url('../img/ic_add_black_24px.svg');
        }
    }
    &.element-green {
        background-color: $green;
        color: white;
        .btn-add {
            background-image: url('../img/ic_add_white_24px.svg');
        }
    }
    &.element-red {
        background-color: $main-color;
        color: white;
        .btn-add {
            background-image: url('../img/ic_add_white_24px.svg');
        }
    }
    &.element-blue {
        background-color: $secondary-color;
        color: white;
        .btn-add {
            background-image: url('../img/ic_add_white_24px.svg');
        }
    }
    .btn-add {
        float: right;
        background-image: url('../img/ic_add_white_24px.svg');
        &.show-close {
            // transform: rotate(45deg);
            background-image: url("../img/ic_close_black_24px.svg");
        }
    }
}
.table-orders {
    //border-color: $darker-secondary-color;
    border-color: $grey;
	.table-detail-element-header {
        //background-color: $secondary-color;
	    background-color: $subtle-grey;
	    .btn-add {
            //background-color: $darker-secondary-color;
	        background-color: $grey;
	    }
	}
}
.table-charges { 
    border-color: $darker-main-color;
	.table-detail-element-header {
	    background-color: $main-color;	   
	    .btn-add {
	        background-color: $darker-main-color;
	    }
	}
}
.table-payments {
	border-color: $darker-green;
	.table-detail-element-header {
	    background-color: $green;	    
	    .btn-add {
	        background-color: $darker-green;
	    }
	}
}
.table-detail-element-body {
    position: relative;
    height: calc(100% - 44px);
    overflow-y: auto;
    &.has-footer {
        padding-bottom: 40px;
    }
}

.section-no-header .table-detail-element-body {
    height: 100%;
}
.table-detail-element-footer {
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    bottom: 0;
    left: 0;
    padding: 0 8px;
    border-radius: 0 0 4px 4px;
    background-color: $subtle-grey;
    border-top: 1px solid $grey;
    span:last-child {
        font-weight: bold;
        font-size: 1.25em;
        line-height: 40px;
        transition: color .2s, transform .2s;
        color: $black;
        &.flash {
            color: $main-color;
            transform: scale(1.1);
        }
    }
}

.table-detail-element-subtotal {
    //position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    padding: 0 8px;
    background-color: $subtle-grey;
    border-bottom: 1px solid $grey;
    span:last-child {
        // font-weight: bold;
    }
}


.table-order-item {
    margin: 10px;
    padding: 4px 0 6px;
    border-bottom: 1px solid #F2F2F2;
    text-align: left;
    transition: transform .25s, max-height .25s, opacity .25s, margin .25s;
    transform: translateX(0);
    max-height: 1000px;
    opacity: 1;
    overflow-x: hidden;
    &.remove {
        transform: translateX(100%);
        max-height: 0;
        opacity: 0;
    }
    &.animate-in {
        transform: translateX(100%);
        max-height: 0;
        opacity: 0;
    }
    &:last-child {
        border: none;
    }
}
.order-title {
    font-size: 1.125em;
    line-height: 24px;
    font-weight: bold;
    color: $black;
}
.order-counter {
    margin-bottom: 4px;
}
.order-price {
    //font-weight: bold;
    font-size: 1.125em;
}
.order-notes {
    font-size: .875em;
    padding: 8px;
    border-radius: 4px;
    background-color: #EFFFBF;
    margin-bottom: 4px;
    li {
        display: block;
        padding: 4px 0;
        list-style-type: disc;
    }
}
.order-status {
    //margin-bottom: 4px;
}
.order-status-sign {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    margin: 4px;
    margin-right: 5px;
}
.order-status-time {
    line-height: 24px;
    float: left;
    margin-left: 8px;
}
.order-status-type {
    line-height: 24px;
    float: left;
    margin-left: 8px;
    color: $secondary-color;
}
.order-item-actions {
    display: block;
    width: 24px;
    height: 24px;
    float: right;
    position: relative;
    background-image: url('../img/ic_more_vert_black_24px.svg');
}
.table-payment-item {
	background-color: #F2F2F2;
	margin: 4px;
	padding: 8px 4px;
	border-radius: 4px;
	&.fixed-item {
		background-color: transparent;
		padding: 0 5px;
    -webkit-animation: animate-reveal 5s; /* Safari 4+ */
    -moz-animation:    animate-reveal 5s; /* Fx 5+ */
    -o-animation:      animate-reveal 5s; /* Opera 12+ */
    animation:         animate-reveal 5s; /* IE 10+, Fx 29+ */
	}

}

.item-name {
	float: left;
	color: grey;
	padding: 4px;
	font-size: 1em;
	font-style: italic;
}

.item-amount {
	float: right;
	color: black;
	padding: 4px;
	font-size: 1em;
	font-style: italic;
}

.table-detail-navigation {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    background-color: #8BC34A;
    font-size: 1em;
    line-height: 50px;
    height: 50px;
}

.selection-section-action-container {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .btn {
        height: 50px;
        line-height: 18px;
        display: block;
        width: 100%;
    }
    &.action-dual {
        .btn {
            float: left;
            width: 50%;
        }
    }
}

.table-charges-options {
    display: none;
    &.show {
        display: block;
    }
    &.visible {
        background-color: white;
        transform: scale(1);
    }
    top: 0;
    left: 0;
    // transform: none;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: left;
    z-index: 100;
    transform: scale(0);
    transition: transform .250s;
    background-color: white;
    .popup-body {
        padding: 5px;
        height: calc(100% - 44px);
        overflow-y: auto;
    }
    ul {
        li {
            display: block;
            margin-bottom: 5px;
            a {
                display: block;
                line-height: 44px;
                border-radius: 4px;
                //background-color: $super-subtle-grey;
                border: 1px solid $subtle-grey;
                padding: 0 8px;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

.selection-header-nav {
  float: left;
  li {
      display: block;
      float: left;
      &.selected a, &.fixed a {
        border-bottom: 4px solid white;
        font-weight: bold;
        padding-bottom: 0;
      }
      a {
          display: block;
          line-height: 40px;
          padding: 0 15px 4px;
          color: white;
          text-decoration: none;
      }
  }
}