.selector-filter-container {
  display: block;
  float: left;
  height: 100%;
  background-color: #EAEAEA;
  transition: width .25s;
}
.selector-inner-container {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: width .25s;
}

.has-filter {
  .selector-filter-container {
    width: 50px;
  }
  .selector-inner-container {
    width: calc(100% - 50px);
  }
}

.filter-expanded {
  .selector-filter-container {
    width: calc(300% / 16);
  }
  .filter-head {
    text-indent: 0;
    background-image: url("../img/ic_arrow_drop_up_black_24px.svg");
  }
  .selector-inner-container {
    width: calc(1300% / 16);
  }
}

// If the selection container is opened
.open {
  // If the selector has filter & it is expanded
  .has-filter.filter-expanded {
    .selector-inner-container {
      width: calc(800% / 11);
    }
    .selector-filter-container {
      width: calc(300% / 11);
    }
  }
}

.filter-head {
  height: 50px;
  padding: 15px;
  text-align: left;
  font-weight: bold;
  color: #575757;
  border-bottom: 1px solid $subtle-grey;
  text-indent: 100%;
  background-image: url("../img/ic_filter_list_black_24px.svg");
  background-position: calc(100% - 15px) center;
  background-repeat: no-repeat;
}
.filter-body {
  height: calc(100% - 50px);
  overflow-y: auto;
  padding: 10px;
  display: none;
}





.xtable {
  width: 100%;
  // height: 100%;
  background-color: #F4F4F4;
  font-size: 1em;
  position: relative;
  display: table;
  border-bottom: 2px solid $grey;
}
.xtable-actions {
  display: block;
  height: 56px;
  width: 56px;
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  background-color: $main-color;
  border-radius: 100%;
  box-shadow: 4px 4px 16px rgba(0,0,0,.33);

  background-image: url("../img/ic_add_white_48px.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.xtable-head {
  height: 50px;
  color: #575757;

  border-bottom: 1px solid white;
  font-weight: bold;
  display: table-header-group;
  .xtable-row {
    background-color: auto;
    margin: 0;
  }
  .xtable-col  {
    padding: 10px 15px;
    background-color: $super-subtle-grey;
    color: black;
  }
}

.xtable-body {
  height: calc(100% - 50px);
  overflow-y: auto;
  color: $black;
  display: table-row-group;
}

.xtable-row {
  background-color: white;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
  transition: background .25s;
  display: table-row;
  &.selected {
    // background-color: $main-color;
    // color: white;
    background-color: $subtle-grey;
    color: black;
  }
}

.xtable-col {
  padding: 25px 15px;
  // float: left;
  // line-height: 16px;
  line-height: 1.25em;
  text-align: left;
  overflow-y: auto;    
  white-space: nowrap;
  // height: 100%;
  // word-wrap: break-word;
  // border: 1px solid #e4e7ed;

  border-top: 1px solid #e4e4e4;
  vertical-align: middle;
  // padding: 10px;
  display: table-cell;
  span {
    display: block;
  }
  ul {
    display: block;
    li {
      display: block;
      margin-bottom: 4px;
    }
  }
  img {
    display: block;
    max-width: 80px;
    height: auto;
    border-radius: 4px;
  }
}

.xtable {
  &.xcol-2 {
    .xtable-col {
      width: calc(100% / 2);
    }
  }
  &.xcol-3 {
    .xtable-col {
      width: calc(100% / 3);
    }
  }
  &.xcol-4 {
    .xtable-col {
      width: calc(100% / 4);
    }
  }
  &.xcol-5 {
    .xtable-col {
      width: calc(100% / 5);
    }
  }
  &.xcol-6 {
    .xtable-col {
      width: calc(100% / 6);
    }
  }
  &.xcol-6 {
    .xtable-col {
      width: calc(100% / 7);
    }
  }
  &.xcol-6 {
    .xtable-col {
      width: calc(100% / 8);
    }
  }
}

.table-empty-message {
  width: 100%;
  height: calc(100% - 50px);

  text-align: center;
  font-style: italic;
  font-size: 2em;
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
    color: $grey;
  }
}