.xlist {
    background-color: $super-subtle-grey;
    text-align: left;
    height: 100%;
    overflow-y: auto;
    hr {
        border: 1px dashed $subtle-grey;
    }
}
    
.xlist-section {
    border-bottom: 1px solid $grey;
    transition: border .25s, opacity .25s;
    border-right: 0px solid $main-color;
}  

.xlist-section-header {
    font-weight: bold;
    color: $main-color;
    //padding: 10px;
    padding: 30px 15px 20px;
}

.xlist-section-body {
    
}

.xlist-section-item {
    padding: 10px;
    border-bottom: 1px solid $subtle-grey;
    &:last-child {
        border-bottom: none;
    }
    input {
        text-align: right;
        padding: 10px 0;
        margin-top: 10px;
        font-size: 1.125em;
    }
}

.xlist-label {
    font-weight: bold;
    color: $black;
    padding: 5px 0;
}

.xlist-desc {
    color: grey;
}

.xlist-value {
    text-align: right;
    padding: 10px 0;
    font-size: 1.125em;
    img {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: auto;
        max-width: 50%;
        border-radius: 4px;
    }
}

.open .selector-container {
    .xlist-section {
        opacity: .33;
        backgound-color: $subtle-grey;
        &.selected {
            border-right: 5px solid $main-color;
            opacity: 1;
        }
    }
}