@import 'normalize';
@import 'reset';
@import 'clearfix';


/* ----- Color Palette ----- */
$black: #333333;
$grey: #CACBCC;
$subtle-grey: #ECF0F1;
$super-subtle-grey: #F8FAFA;
$main-color: #F44336;
$darker-main-color: #D32F2F;
$secondary-color: #2196F3;
$darker-secondary-color: #1976D2;
$green: #8BC34A;
$darker-green: #76B42F;

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-appearance: none;
}

html {
    box-sizing: border-box;
    -webkit-appearance: none;
    position: relative;    
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    text-align:center;
    min-height: 100%;
    margin:0;
    overflow:hidden;

    font-family: 'Nunito','Roboto', 'Open Sans', 'Arial';
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {margin:0; padding: 0;}


.fl {
    float: left;
}

.fr {
    float: right;
}

.eresto-logo {
    float: left;
    height: 44px;
    padding: 10px;
    margin-right: 5px;
    img {
        display: block;
        height: 100%;
        float: left;
    }
    p {
        display: block;
        line-height: 24px;
        color: white;
        float: left;
        margin-left: 5px;
    }
}

@import 'basic-forms';
@import 'basic-buttons';

.pre-login-screen {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: $black;
    color: white;
    h1.login-title {
        color: white;
    }
}

.login-screen {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    padding: 5px;
    overflow-y: auto;
    box-sizing: border-box;
    // background-image: url(../img/eresto_background.png);
    background-position: center center;
    // background-color: $super-subtle-grey;
    background-color: $green;
    background-repeat: no-repeat;
    background-size: auto 80%;
}

.login-form-container {
    display: block;
    width: 33%;
    margin: 0 auto;
    position: absolute;
    color: $black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form-inner-container {
    display: block;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid $subtle-grey;
}

#choose-outlet {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.login-title {
    font-size: 2em;
    padding: 25px 0;
}

.login-restaurant-title {
    margin-bottom: 10px;
    h1.login-resto-title {
        font-size: 1.75em;
        line-height: 2em;
    }
    img.login-resto-logo {
        max-width: 100%;
    }
    a {
        text-decoration: none;
        color: $secondary-color;
    }
}

.login-form-title {
    font-size: 1.25em;
    line-height: 1.5em;
}

@import 'responsive-mobile';