<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank Starter Template
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
 -->

<div class="app-header group">
    <div class="btn btn-main-menu fl"></div>
    <div class="eresto-logo group">
        <img src="img/eresto_logo.png" alt="">
        <p>eResto</p>
    </div>
    <div class="page-menu group">
        <ul class="page-menu-list fl">
        	<li *ngFor="let t of tabs" [attr.data-target]="t.target" (click)="switchTabs(t)">
        		<a href="#">
        			{{t.title}}
        		</a>
        	</li>
            <!-- <li class="active" data-target="tables"><a href="#" (click)="switchTabs(0)">Tables</a></li>
            <li data-target="takeaways"><a href="#" (click)="switchTabs(1)">Take Aways</a></li>
            <li data-target="deliveries"><a href="#" (click)="switchTabs(2)">Deliveries</a></li>
            <li data-target="caterings"><a href="#" (click)="switchTabs(3)">Caterings</a></li>
            <li data-target="reservations"><a href="#" (click)="switchTabs(4)">Reservations</a></li> -->
        </ul>
        <div class="page-menu-list-mobile fl">
            <div class="drop-menu-trigger">Tables</div>
            <ul class="drop-menu-list">
	        	<li *ngFor="let t of tabs" [attr.data-target]="t.target" (click)="switchTabs(t)">
	        		<a href="#" class="drop-menu-item">
	        			{{t.title}}
	        		</a>
	        	</li>
                <!-- <li class="active" data-target="tables"><a href="#" class="drop-menu-item">Tables</a></li>
                <li data-target="takeaways"><a href="#" class="drop-menu-item">Take Aways</a></li>
                <li data-target="deliveries"><a href="#" class="drop-menu-item">Deliveries</a></li>
                <li data-target="caterings"><a href="#" class="drop-menu-item">Caterings</a></li>
                <li data-target="reservations"><a href="#" class="drop-menu-item">Reservations</a></li> -->
            </ul>
        </div>
    </div>
    <div class="page-actions group">
        <a href="#" class="btn btn-notif fr"></a>
        <!-- <a href="#" class="btn btn-search fr"></a> -->
    </div>
</div>




<ion-nav class="app-body group" [root]="tab1Root">
</ion-nav>
